<div id="maskLayer" ng-controller="DeviceCtrl">
    <div id="welcomeScreen">
        <h1>Sélectionnez le dispositif :</h1>
    </div>

    <div id="chooseGroup" class="row">
        <div class="col-md-offset-3 col-md-10">
            <a class="btn btn-default docList" ui-sref="map">On a shared display</a>
            <!-- <a class="btn btn-default docList">On the personal devices</a> -->
            <a class="btn btn-default docList" ng-click="chooseDevice($event)">On the personal devices</a>
            
        </div>
    </div>
    <div id="choosePlayer" ng-show="personal">
        <h1>Choose your role</h1>
        <div class="col-md-offset-3 col-md-10">
            <div class="choosePlayer" ng-repeat="i in range(group.student) track by $index">
                <button class="btn btn-default choosePlayerBtn" ng-click="choosePlayer($index)" ui-sref="player">
                    <img src="img/player{{$index+1}}.png">
                </button>
            </div>
        </div>
    </div>
</div>
    
