<div id="maskLayer" ng-controller="GroupCtrl">
    <div id="welcomeScreen">
        <h1>Sélectionnez votre groupe :</h1>
    </div>
    <div id="chooseGroup" class="row">
        <div class="chooseGroup col-md-offset-2" ng-repeat="group in groups">
        <!-- <div class="chooseGroup col-md-offset-2" ng-repeat="i in [1,2,3] track by $index"> -->
            <button class="btn btn-danger chooseGroupBtn" ng-click="chooseGroupNum($event,$index)" ui-sref="map">
                <h2>{{group.name}}</h2>
            </button>
        </div>
    </div>
</div>