
<div  id="maskLayer" class="row" ng-controller="IndividualCtrl">
	<div class="col-sm-12 appName">
		<h1>Activité: {{deploy.app}}</h1>
	</div>
	<div class="col-sm-12 chooseTitle">
		<h1>Sélectionnez votre groupe :</h1>
	</div>
	<div class="col-md-offset-4 col-md-4" ng-show="dbsuccess == false">
		<h4><i>(En attente d'informations de groupe de chargement...)</i></h4>
	</div>
	<div ng-show="dbsuccess == true">
		<div class="col-sm-offset-1">
			<div class="docList" ng-repeat="group in currentClass.groups track by $index">
	        <button class="btn btn-default btn-lg groupBtn" ng-click="chooseGroup($event, $index)">
        		<img src="img/group{{$index+1}}.png" alt="group{{$index+1}}">
	        	<!-- {{group.name}} -->
	        </button>
	    </div>
		</div>
		<div class="col-sm-12 chooseTitle">
	  	<h1>Choisissez votre rôle</h1>
		</div>
		<div id="choosePlayer" ng-if="showStudents">
	    <div class="col-sm-offset-3 col-sm-9">
	        <div class="choosePlayer" ng-repeat="i in range(currentGroup.studentamount) track by $index">
	        	<h3 ng-bind="currentGroup.students[$index]"></h3>
	          <a class="btn btn-default choosePlayerBtn" ng-click="choosePlayer($index)" ui-sref="player">
	            <img src="img/player{{$index+1}}.png">
	          </a>
	        </div>
	    </div>
	  </div>
	</div>
</div>
    