<div id="appLayer" ng-controller="AppCtrl">
    <div id="status" class="container">
        <!--Détails sur l'insecte-->
        <div class="kit col-md-1">
            <div id="info" class="col-md-12">
                <h3>Info</h3>
                <button class="btn btn-default dropdown-toggle infoBtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!-- <img src="img/info.png" alt="info"> -->
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="info in infos"><a id="info{{$index}}" ng-click="getInfo($index)">{{info.name}}</a></li>
                </ul>
            </div>
        </div>
        <!--Progress of the rating -->
        <div id="leaderboard" class="kit col-md-5">
            <h3 ng-bind="groupName"></h3>
            <div class="row">
                <div class="players col-md-10" ng-model="avatarWidth">
                    <div class="player col-md-{{avatarWidth}}" ng-repeat="student in students track by $index">
                        <div class="avatars">
                            <img ng-src="img/player{{$index+1}}.png">
                            <p ng-bind="student" class="studentName"></p>
                        </div>
                        <div ng-if="indiStu.badge.comment !== undefined" class="badgeSpace">
                            <p>Comment badge</p>
                            <div class="noteBadge" ng-if="studentNotes[$index]>=indiStu.badge.comment">
                                <img src="img/badgeNote-show.png">
                            </div>
                            <div class="noteBadge" ng-if="studentNotes[$index]<indiStu.badge.comment">
                                <img src="img/badgeNote-hide.png">
                            </div>
                        </div>
                        <div ng-if="evaltype == 'individual'" class="progspace">
                            <div class="col-md-10 progressbar" id="progressbar{{$index+1}}"></div>
                            <P>0/{{locationAmount}} Emplacements</P>
                        </div>
                    </div>
                    <div ng-if="seqtype == 'restricted' && evaltype == 'group'" id="groupProgress" class="col-md-12">
                        <p class="col-md-4">Group evaluation progress:</p>
                        <div class="col-md-4 progressbar" id="progressGroup"></div>
                        <p class="col-md-3" id="groupProgTxt">0/{{locationAmount}} Emplacements</p>
                    </div>
                </div>
                <div class="badges col-md-2" ng-if="indiStu.badge.timer">
                    <p>Timer badge</p>
                    <div ng-repeat="timer in indiStu.timers track by $index">
                        <div class="col-md-{{badgeWidth}} timerBadge" ng-if="timer">
                            <img src="img/badgeTimer-show.png" ng-show="timerWin[$index]">
                            <img src="img/badgeTimer-hide.png" ng-show="!timerWin[$index]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Show tasks of each step-->
        <div class="kit col-md-5">
            <div class="col-md-12" id="tasks">
                <h3>Consignes</h3>
                <ul>
                    <li id="step{{$index}}" ng-repeat="step in steps" ng-click="nextStep($event,$index)" ng-class="{true: 'moreSteps', false:'lessSteps'}[moreSteps]">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <p>Étape {{$index+1}} : {{step.title}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--timer-->
        <div id="counter" class="kit  col-md-1">
            <h3>Chrono</h3>
            <div ng-repeat="i in indiStu.timers track by $index" ng-if="i==true">
                <div class="timer" id="timer{{$index}}"></div>
            </div>
        </div>
    </div>
    <!--Here is the map div-->
    <!--Show the mountain location cards-->
    <div class="locations">
        <!-- !!!!todo: improve ng-click -->
        <div class="location" ng-repeat="marker in markers track by $index" id="location{{$index+1}}">
            <div class="locationTitle">
                <h3>{{marker.symbol}} : {{marker.name}}</h3>
            </div>
            <div class="locationContent">
                <div class="chooseLocation" ng-show="seqtype=='unrestricted'||currentStep==2">
                    <button class="btn btn-default btn-md choisirBtn" name="{{marker.name}}" ng-click="chooseLocation($event, $index+1, marker.name)">Choisir</button>
                </div>
                <div class="visualPlayers row" id="visualLocation{{$index}}" ng-model="avatarWidth">
                    <h4>Appuyez sur votre avatar pour obtenir des informations de cet emplacement :</h4>
                    <div class="visualBtns col-md-{{avatarWidth}}" ng-repeat="i in range(studentAmount) track by $index">
                        <button class="btn player{{$index+1}} markerBtn col-md-7" type="button" ng-click="checkLocation($event,$parent.$index+1,$index+1)"><img ng-src="/img/player{{$index+1}}.png"></button>
                        <div ng-show="evaltype == 'individual'">
                            <span class="checkMarker glyphicon glyphicon-ok-circle grey"></span>
                        </div>
                    </div>
                </div> 
                <!-- config evaluation type -->
                <div class="vote" id="vote{{$index+1}}">
                    <h4>Évaluation:</h4>
                    <!-- when doing evaluation on personal device, shared display only show the eval results -->
                    <div ng-if="crisTea == 0 && steps.s0 == undefined">
                        <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$parent.$index]>$index]" ng-click="!clickStar||changeEval($parent.$parent.$parent.$index,$parent.$parent.$index,$index+1)"></span><span class="label label-default caption" ng-hide="evaltype == 'individual' && currentStep == 1">{{evalVal[$parent.$index]}}</span>
                    </div>
                    <div class="row">
                        <div ng-show="crisTea !== 0" class="cris col-md-12">
                            <!-- <div class="col-md-12">
                                Predefined criteria
                            </div> -->
                            <div class="col-md-12" ng-repeat="cri in cris.teacher">
                                <!-- <label>{{cri.name}}</label> -->
                                <div class="row">
                                    <span class="label criName col-md-12">{{cri.name}}</span>
                                    <div class="col-md-12 stars">
                                        <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$parent.$index][$parent.$index]>$index]" ng-click="!clickStar||changeEval($parent.$parent.$index,$parent.$index,$index+1)"></span><span class="label label-default caption" ng-hide="evaltype == 'individual' && currentStep == 1">{{evalVal[$parent.$index][$index]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="steps.s0 !== undefined" class="cris col-md-12">
                            <div class="col-md-12">
                                Your criteria
                            </div>
                            <div class="col-md-12" ng-repeat="cri in cris.student">
                                <!-- <label>{{cri.name}}</label> -->
                                <div class="row">
                                    <span class="label criName col-md-3">{{cri.name}}</span>
                                    <div class="col-md-8">
                                        <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$parent.$index][$parent.$index+crisTea]>$index]" ng-click="!clickStar||changeEval($parent.$parent.$index,$parent.$index+crisTea,$index+1)"></span><span class="label label-default caption" ng-hide="evaltype == 'individual' && currentStep == 1">{{evalVal[$parent.$index][$index+crisTea]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="note" id="note{{$index+1}}" ng-hide="currentStep == 0">
                    <h4>Commentaires :</h4>
                    <div class="shortNote">
                    <!-- <div ng-class="{true: 'shortNote', false: 'longNote'}[add.eval=='star']"> -->
                    <!-- $index = location -->
                        <span id="note{{$index+1}}">
                            <!-- <div ng-repeat="pnote in notes"> -->
                                <p ng-repeat="note in notes track by $index" ng-if="note.location == $parent.$index+1" class="notePlayer{{note.player}}">{{note.content}}</p>
                            <!-- </div> -->
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="commonSpace">
            <div id="commonTitle">
                    <h3>Commentaires partagés</h3>
            </div>
            <div id="commonContent">
                <div>
                    <span id="commonNote">
                        <!-- <div ng-repeat="note in notes"> -->
                            <p ng-repeat="note in commonNotes track by $index" class="notePlayer{{note.player}}">{{note.content}}</p>
                        <!-- </div> -->
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <div id="dialogSpace">
        <div ng-repeat="step in steps">
            <div id="dialog{{$index}}" class="dialog" title="Consignes">
                <h4>Étape {{$index+1}} :</h4>
                <h4 style="white-space: pre;">
                    {{step.dlg}}
                </h4>
                <h4 ng-if="indiStu.timers[currentStep]">
                    Vous avez {{indiStu.timerValue[currentStep]}} mins pour cette étape.
                </h4>
                <h4 ng-if="indiStu.timers[currentStep] && indiStu.badge.timer">
                    Gagnez le badge Timer si vous finissez toutes les évaluation individuelle dans les {{indiStu.timerValue[currentStep]}} mins.
                </h4>
            </div>
        </div>
        <div id="dialogFinal" title="The end">
            <h4>Congratulations!</h4>
            <h4>You finishd all the tasks!</h4>
        </div>
        <div id="chooseDialog" title="Choisir un emplacement">
            <h4>Voulez vous choisir l'emplacement {{chosenTitle}} ?</h4>
        </div>
        <div ng-repeat="info in infos">
            <div class="infoDlg" id="infoDlg{{$index}}" title="{{info.name}}">
                <div ng-if="info.type == 'text'">
                    <h4 style="white-space: pre;">{{info.text}}</h4>
                </div>
                <div ng-if="info.type == 'img'" class="dlgFullScreen">
                    <img ng-src="{{info.photo}}" alt="information photo">
                </div>
                <div ng-if="info.type =='link'" class="dlgFullScreen">
                    <iframe ng-src="{{info.link | trustAsResourceUrl}}" class="dlgFullScreen"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        <leaflet lf-center="map" tiles="tiles" geojson="geojson" markers="markers" height="870px" ng-class="col-md-12" ></leaflet>
    </div>
</div>