<div id="appLayer" ng-controller="DOMCtrl">
    <div id="status" class="container">
        <!--Détails sur l'insecte-->
        <div class="kit col-md-1">
            <div id="insect" class="col-md-12">
                <h3>Info</h3>
                <a id="insectBtn">
                    <img src="img/LogoInsecte.png">
                </a>    
            </div>
        </div>
        <!--Progress of the rating -->
        <div id="leaderboard" class="kit col-md-5">
            <h3 ng-bind="groupName"></h3>
            <div class="row">
                <div class="players col-md-10" ng-model="avatarWidth">
                    <div class="player col-md-{{avatarWidth}}" ng-repeat="i in range(studentAmount) track by $index">
                        <div class="avatars">
                            <img src="img/player{{$index+1}}.png">
                        </div>
                        <div ng-if="add.noteBadge == true">
                            <div class="noteBadge" ng-if="studentNotes[$index]>=add.noteNum">
                                <img src="img/notebadge.png">
                            </div>
                        </div>
                        <div ng-if="add.eval == 'star'">
                            <div class="col-md-12 progressbar" id="progressbar{{$index+1}}"></div>
                            <P>0/4 Emplacements</P>
                        </div>
                    </div>
                </div>
                <div class="badges col-md-2">
                    <p>Timer badge</p>
                    <div id="timerBadge" >
                        <img src="img/badgeTimer.png">
                    </div>
                </div>
            </div>
        </div>
        <!--Show tasks of each step-->
        <div class="kit col-md-5">
            <div class="col-md-12" id="tasks">
                <h3>Consignes</h3>
                <ul>
                    <li class="steps" id="step{{$index}}" ng-repeat="step in steps" ng-click="nextStep($event,$index+1)">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <p>Étape {{$index+1}} : {{step.summary}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--timer-->
        <div id="counter" class="kit  col-md-1">
            <h3>Chrono</h3>
            <div ng-repeat="step in steps" ng-if="step.timer == 'true'">
                <div class="timer" id="timer{{$index+1}}"></div>
            </div>
        </div>
    </div>
    <!--Here is the map div-->
    <!--Show the mountain location cards-->
    <div class="locations">
        <!-- !!!!todo: improve ng-click -->
        <div class="location" ng-repeat="marker in markers track by $index" id="location{{$index+1}}">
            <div class="locationTitle">
                <h3>{{$index+1}}.  {{marker.name}}</h3>
            </div>
            <div class="locationContent">
                <div class="chooseLocation">
                    <button class="btn btn-warning btn-md" name="{{marker.name}}" ng-click="chooseLocation($index+1, marker.name)">Choisir</button>
                </div>
                <div class="visualPlayers row" id="visualLocation{{$index}}" ng-model="avatarWidth">
                    <h4>Visualisation :</h4>
                    <div class="visualBtns col-md-{{avatarWidth}}" ng-repeat="i in range(studentAmount) track by $index">
                        <button class="btn player{{$index+1}} markerBtn col-md-7" type="button" ng-click="checkLocation($event,$parent.$index+1,$index+1)"><img src="/img/player{{$index+1}}.png"></button>
                        <div ng-show="add.eval == 'star'">
                            <span class="checkMarker glyphicon glyphicon-ok-circle grey"></span>
                        </div>
                        <div ng-show="add.eval == 'heart'">
                            <span class="checkMarker glyphicon glyphicon-heart" ng-class="{1: 'heart', 0: 'grey'}[voteValue[$parent.$index][$index]]"></span>
                        </div>
                    </div>
                </div>    
                <div class="vote" id="vote{{$index+1}}" ng-show="add.eval == 'star'">
                    <h4>Évaluation :</h4>
                    <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(5) track by $index" ng-class="{true: 'star', false: 'grey'}[voteValue[$parent.$index]>$index]" ></span><span class="label label-default caption">Pas Encore Évalué</span>
                </div>
                <div class="note" id="note{{$index+1}}">
                    <h4>Notes :</h4>
                    <div ng-class="{true: 'shortNote', false: 'longNote'}[add.eval=='star']">
                        <span id="note{{$index+1}}">
                            <!-- <div ng-repeat="note in notes"> -->
                                <p ng-repeat="note in notes track by $index" ng-if="note.location == $parent.$index+1" class="notePlayer{{note.player}}">{{note.content}}</p>
                            <!-- </div> -->
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pull-right" id="commonSpace" ng-if="add.commonspace == true">
            <div id="commonTitle">
                    <h3>Shared notes space</h3>
            </div>
            <div id="commonContent">
                <div>
                    <span id="commonNote">
                        <!-- <div ng-repeat="note in notes"> -->
                            <p ng-repeat="note in commonNotes track by $index" class="notePlayer{{note.player}}">{{note.content}}</p>
                        <!-- </div> -->
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <div id="dialogSpace">
        <div ng-repeat="step in steps">
            <div id="dialog{{$index+1}}" class="dialog" title="Consignes">
                <h4>Étape {{$index+1}} :</h4>
                <h4>
                    {{step.content}}
                </h4>
                <h4 ng-if="step.timer == 'true'">
                    Vous avez {{step.timerval}} mins pour cette étape.
                </h4>
                <h4 ng-if="step.timerBadge == true">
                    Gagnez le badge Timer si vous finissez toutes les évaluation individuelle dans les {{step.timerval}} mins.
                </h4>
            </div>
        </div>
        <div id="chooseDialog" title="Choisir un emplacement">
            <h4>Voulez vous choisir l'emplacement {{chosenTitle}} ?</h4>
        </div>
    </div>
</div>
<div ng-controller="MapCtrl">
    <leaflet lf-center="center" tiles="tiles" geojson="geojson" markers="markers" height="600px" ng-class="{true: 'col-md-9', false: 'col-md-12'}[commonSpace==true]" ></leaflet>
</div>
    <!--Here are the hiden dialogs-->
    <!-- <div id="dialogSpace">
        <div id="start" title="Consignes">
            <h4>Etape 1 :</h4>
            <h4>Vous devez observer, analyser, et évaluer de façon individuelle les données  collectés.</h4>
             <h4>Choisissez 1 lieu et visualisez les informations sur votre tablette.</h4>
            <br>
             <h4>BONUS :</h4>
             <h4>Gagnez 1 badge Note en prenant au moins 5 notes pertinentes pour le groupe.</h4>
             <h4>Gagnez le badge Timer si vous finissez toutes les évaluation individuelle dans les 8 minutes.</h4>
        </div>
        <div id="insectInfoWrap">
            <!-Ver'Epice-->
            <!-- <div id="insectDialog" class="insects" title="Fourmis">
                <img src="img/fourmis.jpeg">
            </div>
        </div>
        <div id="choiceConfirm" title="Choisir un emplacement"><h4></h4></div>
        <div id="secondStepDialog" title="Consignes">
            <h4>Etape 2 :</h4>
            <h4>Bravo! Vous avez gagné le badge Timer!</h4>
            <!-keep for further functionaility-->
            <!-- <h4 class="winNoteBadge"></h4>
            <br>
            <h4>Visualisez les résultats des évaluations.</h4>
            <h4>Choisissez l'emplacement le plus pertinent pour votre nurserie.</h4>
            <h4>Vous avez 5 minutes pour cette étape.</h4>
        </div>
        <div id="secondStepDialog_noBadge" title="Consignes">
            <h4>Etape 2 :</h4>
            <h4 class="winNoteBadge"></h4>
            <br>
            <h4>Visualisez les résultats des évaluations.</h4>
            <h4>Choisissez l'emplacement le plus pertinent pour votre nurserie.</h4>
            <h4>Vous avez 5 minutes pour cette étape.</h4>
        </div>
        <div id="gameEnd" title="Consignes">
            <h4></h4>
            <h4>En utilisant vos tablettes, justifiez votre choix en quelques lignes dans la case argumentaire.</h4>
            <h4>Pensez à l'énergie, les conditions climatiques, etc.</h4>
            <h4>Vous avez 7 minutes pour cette étape.</h4>
        </div>
        <div id="finalDialog" title="Consignes">
            <h4>Bravo!</h4>
            <h4>Vous venez de finir l'activité!</h4>
        </div> -->
    <!-- </div> -->
    <!-- <div id="map"></div> -->