<div class="container" ng-controller="MonitorCtrl">
	<div class="group jumbotron" ng-repeat="group in groups track by $index" ng-show="chosenGroup.indexOf($index)>=0">
		<h3>Équipe: {{group.name}}</h3>
		<!-- Notes -->
		<div class="row">
			<div class="col-sm-2">
				<div class="funcTitle"><button class="btn btn-default" data-toggle="collapse" data-target="#note{{$index}}">Commentaires </button></div>
			</div>
			<div class="col-sm-10 collapse in" id="note{{$index}}">
				<table class="table">
					<thead>
						<tr>
							<th>Élève</th>
							<th ng-repeat="marker in app.markers">{{marker}}</th>
							<th>Commun</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in group.students track by $index">
							<td>{{student}}</td>
							<td ng-repeat="marker in app.markers track by $index" class="noteOfPlayer">
								<!-- note[group][student] -->
								<p ng-repeat="note in notes[$parent.$parent.$index][$parent.$index] track by $index" ng-show="note.location == $parent.$index+1">
									{{note.content}}
								</p>
							</td>
							<td class="noteOfPlayer">
								<!-- commonNote[group][student] -->
								<p ng-repeat="note in commonNotes[$parent.$index][$index] track by $index">
									{{note.content}}
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- number of browsing -->
		<div class="row">
			<div class="col-sm-2">
				<div class="funcTitle"><button class="btn btn-default" data-toggle="collapse" data-target="#nav{{$index}}">Navigation </button></div>
			</div>
			<div class="col-sm-10 collapse in" id="nav{{$index}}">
				<table class="table">
					<thead>
						<tr>
							<th>Élève</th>
							<th ng-repeat="marker in app.markers">{{marker}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in group.students track by $index">
							<td>{{student}}</td>
							<!-- nav[group][player][location] -->
							<td ng-repeat="marker in app.markers track by $index">{{nav[$parent.$parent.$index][$parent.$index][$index]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Evaluation -->
		<div class="row">
			<div class="col-sm-2">
				<div class="funcTitle"><button class="btn btn-default" data-toggle="collapse" data-target="#eval{{$index}}">Evaluation </button></div>
			</div>
			<!-- group evaluation type -->
			<div>
				<div class="col-sm-10 collapse in" id="eval{{$index}}">
					<div ng-if="app.evalType == 'group'">
						<table class="table">
							<thead>
								<tr>
									<th>Critères</th>
									<th ng-repeat="marker in app.markers track by $index">{{marker}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cri in app.cris track by $index">
									<td>{{cri.name}}</td>
									<td ng-repeat="marker in app.markers track by $index">
										<span class="glyphicon glyphicon-star" ng-repeat="i in range(app.evalScale) track by $index" ng-class="{true: 'star', false: 'grey'}[eval[$parent.$parent.$parent.$parent.$index][$parent.$index][$parent.$parent.$index] > $index ]"></span>
										<span class="label label-default caption" ng-bind="eval[$parent.$parent.$parent.$index][$index][$parent.$index]"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- individual evaluation type -->
					<div ng-if="app.evalType !== 'group'">
						<div ng-repeat="student in group.students track by $index">
							<label><a data-toggle="collapse" data-target="#table{{$parent.$parent.$index}}{{$index}}" ng-bind="student"></a></label>
							<div class="collapse in" id="table{{$parent.$parent.$index}}{{$index}}">
								<table class="table">
									<thead>
									<tr>
										<th>Critères</th>
										<th ng-repeat="marker in app.markers track by $index">{{marker}}</th>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cri in app.cris track by $index">
											<td>{{cri.name}}</td>
											<td ng-repeat="marker in app.markers track by $index">
												<span class="glyphicon glyphicon-star" ng-repeat="i in range(app.evalScale) track by $index" ng-class="{true: 'star', false: 'grey'}[eval[$parent.$parent.$parent.$parent.$parent.$index][$parent.$parent.$parent.$index][$parent.$index][$parent.$parent.$index] > $index ]"></span>
												<span class="label label-default caption" ng-bind="eval[$parent.$parent.$parent.$parent.$index][$parent.$parent.$index][$index][$parent.$index]"></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>























