<div id="appLayer"  ng-controller="PlayerCtrl">
    <div class="container col-md-4">
        <div class="col-md-12" id="sharedSpace">
            <div class="row">
                <div id="avatar"><img src="img/player{{player}}.png"></div>
                <div class="col-md-12" id="addCommonNotes">
                    <h4>Add common notes</h4>
                    <textarea class="form-control" rows="8" cols="1"></textarea>
                    <button class="btn btn-default pull-right btn-sm" id="submitNote">Validation</button>
                </div>
                <div class="col-md-12" id="commonNotes">
                    <h4>Common notes</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-8">
        <div class="col-md-12" id="markerSpace">
            <div class="row">
                <div class="col-md-12" id="markerInfo">
                    <h4>Information</h4>
                    <p>{{locationInfo}}</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12" id="addMarkerNote">
                            <h4>Add location notes</h4>
                            <textarea class="form-control" rows="4" cols="1" ng-model="currentNote"></textarea>
                            <button class="btn btn-default pull-right btn-sm" ng-disabled="form.$invalid" ng-click="addLocalNote($event)">Validation</button>
                        </div>
                        <div class="col-md-12" id="evaluation">
                            <h4>Evaluation</h4>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star" ng-repeat="i in range(5) track by $index" ng-class="{true: 'star', false: 'grey'}[voteVal>$index]" ng-click="evaluateLocation($index+1)"></span><span class="label label-default caption">Pas Encore Évalué</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="markerNote">
                    <h4>Location notes</h4>
                    <div ng-repeat="note in notes track by $index">
                        <div ng-if="(note.location == currentLocation)">
                            <div class="noteOfPlayer" ng-if="note.player==player">
                                <p>{{note.content}}</p>
                                <button class="btn btn-default btn-xs deletenote" ng-click="deleteLocalNote($event)">Effacer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialogSpace">
        <div id="chooseLocationDlg" title="Attention">
            Choisissez d'abord un emplacement!
        </div>
        <div id="writeNoteDlg" title="Attention">
            Écrivez une note avant de la soumettre!
        </div>
    </div>
    <!-- <div id="addNotes" class="container"> -->
        <!-- <div class="head"> -->
            <!-- <h5>Ajouter mes notes</h5> -->
        <!-- </div> -->
<!--         <div id="avatar"><img src="img/player{{studentNum}}.png"></div>
        <div id="myNote">
            <textarea class="form-control" rows="3" cols="1"></textarea>
            <button class="btn btn-default pull-right btn-sm" id="submitNote">Validation</button>
        </div>
    </div> -->
<!--     <div id="addAgu" class="container">
        <div class="head">
            <h5>Ajouter mes argumentaires</h5>
        </div>
        <div id="avatar"><img src="img/player{{studentNum}}.png"></div>
        <div id="myAgu">
            <textarea class="form-control" rows="3" cols="1"></textarea>
            <button class="btn btn-default pull-right btn-sm" id="submitAgu">Validation</button>
        </div>
    </div> -->

<!--     <div id="showNotes" class="container">
        <div class="head">
            <h5>Mes notes</h5>
        </div>
        <span id="note"></span>
    </div> -->
<!--     <div id="showAgu" class="container">
        <div class="head">
            <h5>Mes argumentaires</h5>
        </div>
        <span id="arguments"></span>
    </div> -->
<!-- 
    <div id="vote" class="container">
        <div class="head">
            <h5>Évaluer cet emplacement</h5>
        </div>
        <input id="input" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs">
    </div>
    <div id="locationInfo" class="container">
    </div>  -->
</div>
