<div id="appLayer" class="row" ng-controller="PlayerCtrl">
    <div class="item col-sm-12" id="personalMenu">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-5">
                    <div class="identity">
                        <div id="avatar">
                            <img src="img/player{{player}}.png">
                        </div>
                        <p ng-bind="playerName"></p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- prpgress -->
                    <div class="row" ng-show="device == 'person'">
                        <div class="col-md-12"><h4>Badge</h4></div>
                        <div class="col-md-12"><h4>Progress</h4></div>
                        <div class="col-md-8 progressbar"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h1>Étape {{shownStep}}</h1>
            </div>
            <div class="col-sm-4">
                <!-- timer -->
                <div class="row" ng-show="device == 'person'">
                    <div class="col-md-4">Timer</div>
                    <div class="col-md-8 progressbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12">
        <div class="row">
            <div class="col-sm-12" id="markerInfo">
                <h4>Information</h4>
                <p>{{locationInfo}}</p>
            </div>
            
        </div>
    </div>
    <div class="item col-sm-12" ng-show="currentStep==0">
        <div class="row">
            <div class="col-sm-6 commentSpace" id="addCri">
                <h4>Add criteria</h4>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <input class="form-control" ng-model="currentCri"></textarea>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default pull-right btn-sm" ng-disabled="form.$invalid" ng-click="addCri($event)">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 commentSpace" id="criList">
                <h4>List of criteria</h4>
                <div ng-repeat="cri in crisStu track by $index">
                    <div class="noteOfPlayer">
                        <p class="notePlayer{{player}}">{{cri.name}}</p>
                        <button class="btn btn-default btn-xs deletenote" ng-click="deleteCri($event)" id="{{cri.id}}">Effacer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12 commentSpace" id="evaluation" ng-hide="currentStep==0">
        <h4>Evaluation</h4>
        <span class="glyphicon glyphicon-heart" ng-if="add.eval == 'heart'" ng-class="{true: 'heart', false: 'grey'}[voteVal>0]" ng-click="updateHeart()"></span>

        <div class="rating">
            <div class="col-sm-6">
                <p>Predefined criteria</p>
                <div ng-repeat="cri in crisTea">
                    <div class="row">
                        <span class="label criName col-sm-3">{{cri.name}}</span>
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$index]>$index]" ng-click="changeEval($parent.$index,$index+1)"></span><span class="label label-default caption">{{evalVal[$index]}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p>Your criteria</p>
                <div ng-repeat="cri in crisStu">
                    <div class="row">
                        <span class="label criName col-sm-3">{{cri.name}}</span>
                        <div class="col-sm-8">
                            <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$index+crisTea.length]>$index]" ng-click="changeEval($parent.$index+crisTea.length,$index+1)"></span><span class="label label-default caption">{{evalVal[$index+crisTea.length]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12" ng-hide="currentStep==0">
        <div class="row">
            <div class="col-sm-6 commentSpace" id="addCommonNotes">
                <h4>Add common comments</h4>
                <textarea class="form-control" rows="4" ng-model="currentCommonNote"></textarea>
                <button class="btn btn-default pull-right btn-sm" ng-click="addCommonNote($event)">Validation</button>
            </div>
            <div class="col-sm-6 commentSpace" id="commonNotes">
                <h4>Common comments</h4>
                <div ng-repeat="note in commonNotes track by $index">
                    <div class="noteOfPlayer" ng-if="note.player==player">
                        <p class="notePlayer{{player}}">{{note.content}}</p>
                        <button class="btn btn-default btn-xs deletenote" ng-click="deleteCommonNote($event)" id="{{note.id}}">Effacer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12" ng-hide="currentStep==0">
        <div class="row">
            <div class="col-sm-6 commentSpace" id="addMarkerNote">
                <h4>Add location comments</h4>
                <textarea class="form-control" rows="4" ng-model="currentLocalNote"></textarea>
                <button class="btn btn-default pull-right btn-sm" ng-disabled="form.$invalid" ng-click="addLocalNote($event)">Validation</button>
            </div>
            <div class="col-sm-6 commentSpace" id="markerNote">
                <h4>Location comments</h4>
                <div ng-repeat="note in notes track by $index">
                    <div ng-if="(note.location == currentLocation)">
                        <div class="noteOfPlayer" ng-if="note.player==player">
                            <p class="notePlayer{{player}}">{{note.content}}</p>
                            <button class="btn btn-default btn-xs deletenote" ng-click="deleteLocalNote($event)" id="{{note.id}}">Effacer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="col-md-12" id="markerSpace">
        <div class="row">
            <div class="col-md-12" id="markerInfo">
                <h4>Information</h4>
                <p>{{locationInfo}}</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="addMarkerNote">
                        <h4>Add location notes</h4>
                        <textarea class="form-control" rows="4" ng-model="currentLocalNote"></textarea>
                        <button class="btn btn-default pull-right btn-sm" ng-disabled="form.$invalid" ng-click="addLocalNote($event)">Validation</button>
                    </div>
                    <div class="col-md-12" id="evaluation">
                        <h4>Evaluation</h4>
                        <span class="glyphicon glyphicon-heart" ng-if="add.eval == 'heart'" ng-class="{true: 'heart', false: 'grey'}[voteVal>0]" ng-click="updateHeart()"></span>

                        <div class="rating" ng-if="add.eval == 'star'">
                            <span class="glyphicon glyphicon-star" ng-repeat="i in range(5) track by $index" ng-class="{true: 'star', false: 'grey'}[voteVal>$index]" ng-click="updateStar($index+1)"></span><span class="label label-default caption" ng-bind="caption[voteVal]">Pas Encore Évalué</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="markerNote">
                <h4>Location notes</h4>
                <div ng-repeat="note in notes track by $index">
                    <div ng-if="(note.location == currentLocation)">
                        <div class="noteOfPlayer" ng-if="note.player==player">
                            <p class="notePlayer{{player}}">{{note.content}}</p>
                            <button class="btn btn-default btn-xs deletenote" ng-click="deleteLocalNote($event)" id="{{note.id}}">Effacer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div id="dialogSpace">
        <div id="chooseLocationDlg" title="Attention">
            Choisissez d'abord un emplacement!
        </div>
        <div id="writeNoteDlg" title="Attention">
            Écrivez une note avant de la soumettre!
        </div>
        <div id="agreeCri" title="Add a criteria">
            Do you agree with the new critera "{{newCri.name}}"?
        </div>
    </div>
</div>
