<div id="appLayer" class="row" ng-controller="PlayerCtrl">
    <div class="item col-sm-12" id="personalMenu">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-5">
                    <div class="identity">
                        <div id="avatar">
                            <img src="img/player{{player}}.png">
                        </div>
                        <p ng-bind="playerName"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h1>Étape {{shownStep}}</h1>
            </div>
        </div>
    </div>
    <div class="item col-sm-12 block">
        <div class="row">
            <div class="col-sm-12" id="markerInfo">
                <h4>Information</h4>
                <h5>{{locationTitle}}</h5>
                <p style="white-space: pre-wrap;">{{locationInfo}}</p>
            </div>
            
        </div>
    </div>
    <div class="item col-sm-12 block" ng-show="currentStep==0">
        <div class="row">
            <div class="col-sm-6 commentSpace" id="addCri">
                <h4>Add criteria</h4>
                <form class="row" name="addCris">
                    <div class="form-group col-sm-12">
                        <input class="form-control" ng-model="currentCri" required></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="btn btn-default pull-right btn-sm" ng-disabled="addCris.$invalid" ng-click="addCri($event)">Validation</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 commentSpace" id="criList">
                <h4>List of criteria</h4>
                <div ng-repeat="cri in crisStu track by $index">
                    <div class="noteOfPlayer">
                        <p class="notePlayer{{player}}">{{cri.name}}</p>
                        <button class="btn btn-default btn-xs deletenote" ng-click="deleteCri($event)" id="{{cri.id}}">Effacer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12" class="block" ng-hide="currentStep==0 || evaltype == 'group'">
        <h4>Evaluation</h4>
        <span class="glyphicon glyphicon-heart" ng-if="add.eval == 'heart'" ng-class="{true: 'heart', false: 'grey'}[voteVal>0]" ng-click="updateHeart()"></span>

        <div class="rating">
            <!-- when doing evaluation on personal device, shared display only show the eval results -->
            <div class="col-md-6" ng-if="crisTea.length == 0 && steps.s0.exist == false">
                <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[0]>$index]" ng-click="changeEval(0,$index+1)"></span><span class="label label-default caption">{{evalVal[0]}}</span>
            </div>
            <div class="col-sm-12" ng-if="crisTea.length > 0">
                <!-- <p>Predefined criteria</p> -->
                <div ng-repeat="cri in crisTea">
                    <div class="row">
                        <span class="label criName col-sm-12">{{cri.name}}</span>
                        <div class="col-sm-12 stars">
                            <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$index]>$index]" ng-click="changeEval($parent.$index,$index+1)"></span><span class="label label-default caption">{{evalVal[$index]}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-if="steps.s0.exist == true">
                <p>Your criteria</p>
                <div ng-repeat="cri in crisStu">
                    <div class="row">
                        <span class="label criName col-sm-12">{{cri.name}}</span>
                        <div class="col-sm-12">
                            <span class="glyphicon glyphicon-star grey" ng-repeat="i in range(steps.s1.scale) track by $index" ng-class="{true: 'star', false: 'grey'}[evalVal[$parent.$index+crisTea.length]>$index]" ng-click="changeEval($parent.$index+crisTea.length,$index+1)"></span><span class="label label-default caption">{{evalVal[$index+crisTea.length]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12 block" ng-hide="currentStep==0">
        <div class="row">
            <form class="col-sm-6 commentSpace" id="addMarkerNote" name="addMarkerNote">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <!-- <h4>Add location comments</h4> -->
                        <h4>Ajouter des commentaires pour cet emplacement</h4>
                        <textarea class="form-control" rows="4" ng-model="currentLocalNote" required></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="btn btn-default pull-right btn-sm" ng-disabled="addMarkerNote.$invalid" ng-click="addLocalNote($event)">Validation</button>
                    </div>
                </div>
            </form>
            <div class="col-sm-6 commentSpace" id="markerNote">
                <!-- <h4>Location comments</h4> -->
                <h4>Commentaires d'emplacements</h4>
                <div ng-repeat="note in notes track by $index">
                    <div ng-if="(note.location == currentLocation)">
                        <div class="noteOfPlayer" ng-if="note.player==player">
                            <p class="notePlayer{{player}}">{{note.content}}</p>
                            <button class="btn btn-default btn-xs deletenote" ng-click="deleteLocalNote($event)" id="{{note.id}}">Effacer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-sm-12 block" ng-hide="currentStep==0">
        <div class="row">
            <form class="col-sm-6 commentSpace" id="addCommonNotes" name="addCommonNotes">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <!-- <h4>Add common comments</h4> -->
                        <h4>Ajouter des commentaires</h4>
                        <textarea class="form-control" rows="4" ng-model="currentCommonNote" required></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="btn btn-default pull-right btn-sm" ng-disabled="addCommonNotes.$invalid" ng-click="addCommonNote($event)">Validation</button>
                    </div>
                </div>
            </form>
            <div class="col-sm-6 commentSpace" id="commonNotes">
                <h4>Commentaires partagés</h4>
                <div ng-repeat="note in commonNotes track by $index">
                    <div class="noteOfPlayer" ng-if="note.player==player">
                        <p class="notePlayer{{player}}">{{note.content}}</p>
                        <button class="btn btn-default btn-xs deletenote" ng-click="deleteCommonNote($event)" id="{{note.id}}">Effacer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialogSpace">
        <div id="chooseLocationDlg" title="Attention">
            Choisissez d'abord un emplacement!
        </div>
        <div id="agreeCri" title="Add a criteria">
            Êtes-vous d'accord avec ce nouveau critère "{{newCri.name}}"?
        </div>
    </div>
</div>
