<div id="maskLayer"  ng-controller="RoleCtrl">
    <h1>Choose your group</h1>
    <div id="chooseGroup" class="row">
        <div class="col-md-offset-3 col-md-8">
            <div class="chooseGroup" ng-repeat="group in groups">
            <!-- <div class="chooseGroup col-md-offset-2" ng-repeat="i in [1,2,3] track by $index"> -->
                <button class="btn btn-success btn-lg" ng-click="chooseGroup($index+1)">
                    <h2>{{group.name}}</h2>
                </button>
            </div>
        </div>
    </div>
    <div id="choosePlayer" ng-show="studentAmount">
	    <h1>Choose your role</h1>
	    <div class="col-md-offset-3 col-md-8">
	        <div class="choosePlayer" ng-repeat="i in range(studentAmount) track by $index">
	            <button class="btn btn-default choosePlayerBtn" ng-click="chooseStudentNum($event,$index)" ui-sref="player">
	                <img src="img/player{{$index+1}}.png">
	            </button>
	        </div>
	    </div>
    </div>
</div>
