<div class="row container" ng-controller="MapSetCtrl">
	<div class="col-md-offset-2 col-md-10">
		<h1>Set your map</h1>
		<div class="row item">
			<form class="form-horizontal" role="form" name="form">
				<div class="col-md-4">
					<h4>Set the coordination</h4>				
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-md-3 control-label">Longtitude</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="longtitude">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Laititude</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="laititude">
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="row item">
			<div class="col-md-4">
				<h4>Markers</h4>
			</div>
			<div class="col-md-8">
				<div class="panel-group" id="showMarkers">
					<div class="panel panel-default" ng-repeat="marker in markers">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#marker-{{$index}}">{{marker.name}}</a>
								<button type="button" class="deleteMarkerBtn btn btn-default btn-xs pull-right" ng-click="deleteMarker($event,marker)"><span class="glyphicon glyphicon-trash"></span></button>
							</h4>
						</div>
						<div id="marker-{{$index}}" class="panel-collapse collapse">
							<form class="form-horizontal markerArea" role="form" name="form">
								<div class="form-group">
									<label class="control-label col-md-3">
										Name
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" ng-model="marker.name">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">
										Longtitude
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="marker.longtitude">
									</div>
								</div>					
								<div class="form-group">
									<label class="control-label col-md-3">
										Laititude
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="marker.laititude">
									</div>
								</div>					
								<div class="form-group">
									<label class="control-label col-md-3">
										Data
									</label>
									<div class="col-md-9">
										<textarea class="form-control" ng-model="marker.data" rows="3"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> 
				<button class="btn btn-info" id="addMarkerBtn" data-toggle="collapse" data-target="#addMarker"><span class="glyphicon glyphicon-plus"></span>  Add marker</button>

				<form class="form-horizontal collapse markerArea" role="form" name="form" id="addMarker">
					<div class="form-group">
						<label class="control-label col-md-3">
							Name
						</label>
						<div class="col-md-6">
							<input type="text" class="form-control" ng-model="add.name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">
							Longtitude
						</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="add.longtitude">
						</div>
					</div>					
					<div class="form-group">
						<label class="control-label col-md-3">
							Laititude
						</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="add.laititude">
						</div>
					</div>					
					<div class="form-group">
						<label class="control-label col-md-3">
							Data
						</label>
						<div class="col-md-9">
							<textarea class="form-control" ng-model="add.data" rows="3"></textarea>
						</div>
					</div>
					<button class="btn btn-default" id="saveMarker" ng-click="addMarker()"><span class="glyphicon glyphicon-floppy-disk"></span>  Save</button>
				</form>
			</div>
		</div>
		<div class="row item">
			<div class="col-md-4">
				<h4>Choose an evaluation style</h4>
			</div>
			<div class="col-md-8">
				<div class="btn-group">
					<div class="radio">
						<label><input type="radio" name="optradio" value="star" ng-model="eval">Star evaluation</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio" value="heart" ng-model="eval">Red heart evaluation</label>
					</div>
				</div>
			</div>
		</div>
		<div class="stepBtn">
			<a class="btn btn-default pull-right" ng-click="setMap()">Submit</a>
		</div>
	</div>
</div>
