<div  id="maskLayer" class="row" ng-controller="ShareCtrl">
	<div class="col-md-12 appName">
		<h1>Activité: {{deploy.app}}</h1>
		<!-- <h1 ng-bind="deploy.app"></h1> -->
	</div>
	<div class="col-md-12 chooseTitle">
		<h1>Sélectionnez votre groupe :</h1>
	</div>
	<div class="col-md-offset-4 col-md-4" ng-show="dbsuccess == false">
		<h4><i>(En attente d'informations de groupe de chargement...)</i></h4>
	</div>
	<div class="col-md-offset-2" ng-show="dbsuccess == true">
		<div class="docList" ng-repeat="group in currentClass.groups track by $index">
        <a class="btn btn-default groupBtn" ng-click="chooseGroup($event, $index)" ui-sref="map">
        	<!-- {{group.name}} -->
        	<img src="img/group{{$index+1}}.png" alt="group{{$index+1}}">
        </a>
    </div>
	</div>
</div>
    
