<div id="maskLayer" class="row" ng-controller="TeacherCtrl">
	<div class="col-sm-12 appName">
		<h1>Activité: {{deploy.app}}</h1>
	</div>
	<div class="col-sm-12 chooseTitle">
		<h1>Choisissez les groupes que vous souhaitez surveiller :</h1>
	</div>
	<div class="col-md-offset-4 col-md-4" ng-show="dbsuccess == false">
		<!-- <h4><i>(Waiting for loading group information...)</i></h4> -->
		<h4><i>(En attente d'informations de groupe de chargement...)</i></h4>
	</div>
	<div ng-show="dbsuccess == true">
		<div class="col-sm-12">
			<div class="col-sm-offset-3 col-sm-6">
				<div class="docList" ng-repeat="group in currentClass.groups track by $index">
		        <button class="btn btn-default btn-lg groupBtn" ng-class="" ng-click="chooseGroup($event, $index)">{{group.name}}</button>
		    </div>
			</div>
		</div>
		<div class="text-center">
			<a class="btn btn-success btn-lg" id="goMonitor" ui-sref="monitor" ng-click="validateGroup()">Commencer <span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>
    