<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="css/star-rating.min.css">
    <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="css/media.css">
    <link rel="stylesheet" media="screen" href="jquery-ui-1.11.4/jquery-ui.css">
    <link href='css/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" media="screen" href="css/main.css">
    <title>Map</title>
</head>
<body>
<div id="maskLayer">
    <div id="welcomeScreen">
        <h1>Sélectionnez votre groupe :</h1>
    </div>
    <div id="chooseGroup">
        <div class="chooseGroup">
            <button class="btn btn-danger chooseGroupBtn" value="6">
                <h2>Groupe 1</h2>
            </button>
        </div>
        <div class="chooseGroup">
            <button class="btn btn-success chooseGroupBtn" value="2">
                <h2>Groupe 2</h2>
            </button>
        </div>
        <div class="chooseGroup">
            <button class="btn btn-info chooseGroupBtn" value="3" >
                <h2>Groupe 3</h2>
            </button>
        </div>
        <div class="chooseGroup">
            <button class="btn btn-warning chooseGroupBtn" value="4">
                <h2>Groupe 4</h2>
            </button>
        </div>
    </div>
</div>
<div id="appLayer">
    <div id="status" class="container">
        <!--Détails sur l'insecte-->
        <div id="insect" class="kit">
            <h3>Information</h3>
            <a id="insectBtn">
                <img src="img/LogoInsecte.png">
            </a>
            <img id="insectImg" src="img/fourmis.png">
            <a id="energyBtn">
                <img src="img/LogoEnergy.jpg">
            </a>
            <img id="energyImg" src="img/energy.png">
        </div>
        <!--Progress of the rating -->
        <div id="leaderboard" class="kit">
            <h3>Progression</h3>
            <div class="players">
                <div class="player">
                    <div class="avatars">
                        <img src="img/player1.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNoteExplorateur.png">
                    </div>
                    <!--<p>Explorateur</p>-->
                    <div class="progressbar" id="progressbar1"></div>
                    <P>0/4 Emplacements</P>
                </div>
                <div class="player">
                    <div class="avatars">
                        <img src="img/player2.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNoteJournaliste.png">
                    </div>
                    <!--<p>Journaliste</p>-->
                    <div class="progressbar" id="progressbar2"></div>
                    <P>0/4 Emplacements</P>
                </div>
                <div class="player">
                    <div class="avatars">
                        <img src="img/player3.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNotePhotographe.png">
                    </div>
                    <!--<p>Photographe</p>-->
                    <div class="progressbar" id="progressbar3"></div>
                    <P>0/4 Emplacements</P>
                </div>
            </div>
            <div id="timerBadge" class="badges">
                <img src="img/badgeTimer.png">
            </div>
        </div>
        <!--Show tasks of each step-->
        <div id="tasks" class="kit">
            <h3>Consignes</h3>
            <!--<button class="btn btn-info btn-circle" id="resetLocationBtn">Repositionner<br>les fiches</button>-->
            <ul>
                <li>
                    <div class="steps" id="step1">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <p>Étape 1 : Analysez et évaluez chaque emplacement</p>
                    </div>
                    <!--<div id="nextStep">-->
                        <!--<button class="btn btn-warning pull-right" id="toStep2">Validation</button>-->
                    <!--</div>-->
                </li>
                <li>
                    <div class="steps" id="step2">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <p>Étape 2 : Choisissez un emplacement</p>
                    </div>
                </li>
                <li>
                    <div class="steps" id="step3">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <p>Étape 3 : Construisez votre argumentaire</p>
                    </div>
                    <!--<div id="finalStep">-->
                        <!--<button class="btn btn-warning" id="finalStepBtn">Validation</button>-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
        <!--timer-->
        <div id="counter" class="kit">
            <h3>Chrono</h3>
            <div id="timer1"></div>
            <div id="timer2"></div>
            <div id="timer3"></div>
        </div>
    </div>
    <!--Here is the map div-->
    <!--Show the mountain location cards-->
    <div class="locations">

    </div>
</div>
<!--Here are the hiden dialogs-->
<div id="dialogSpace">
    <div id="start" title="Consignes">
        <h4>Etape 1 :</h4>
        <h4>Vous devez observer, analyser, et évaluer de façon individuelle les données  collectés.</h4>
         <h4>Choisissez 1 lieu et visualisez les informations sur votre tablette.</h4>
        <br>
         <h4>BONUS :</h4>
         <h4>Gagnez 1 badge Note en prenant au moins 5 notes pertinentes pour le groupe.</h4>
         <h4>Gagnez le badge Timer si vous finissez toutes les évaluation individuelle dans les 8 minutes.</h4>
    </div>
    <div id="insectInfoWrap">
        <!--Ver'Epice-->
        <div id="insectDialog" class="insects" title="Fourmis">
            <img src="img/fourmis.jpeg">
        </div>
    </div>
    <div id="choiceConfirm" title="Choisir un emplacement"><h4></h4></div>
    <div id="secondStepDialog" title="Consignes">
        <h4>Etape 2 :</h4>
        <h4>Bravo! Vous avez gagné le badge Timer!</h4>
        <h4 class="winNoteBadge"></h4>
        <br>
        <h4>Visualisez les résultats des évaluations.</h4>
        <h4>Choisissez l'emplacement le plus pertinent pour votre nurserie.</h4>
        <h4>Vous avez 5 minutes pour cette étape.</h4>
    </div>
    <div id="secondStepDialog_noBadge" title="Consignes">
        <h4>Etape 2 :</h4>
        <h4 class="winNoteBadge"></h4>
        <br>
        <h4>Visualisez les résultats des évaluations.</h4>
        <h4>Choisissez l'emplacement le plus pertinent pour votre nurserie.</h4>
        <h4>Vous avez 5 minutes pour cette étape.</h4>
    </div>
    <div id="gameEnd" title="Consignes">
        <h4></h4>
        <h4>En utilisant vos tablettes, justifiez votre choix en quelques lignes dans la case argumentaire.</h4>
        <h4>Pensez à l'énergie, les conditions climatiques, etc.</h4>
        <h4>Vous avez 7 minutes pour cette étape.</h4>
    </div>
    <div id="finalDialog" title="Consignes">
        <h4>Bravo!</h4>
        <h4>Vous venez de finir l'activité!</h4>
    </div>
</div>
<div id="map"></div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='js/mapbox.js'></script>
<script src="jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/jquery.touch.js"></script>
<script src="js/pouchdb-3.4.0.min.js"></script>
<script src="js/pouchdb.find.js"></script>
<script src="js/socket.io.js"></script>
<!--<script src="js/star-rating.min.js"></script>-->
<script src="js/jquery.countdown.js"></script>
<script src="js/main.js"></script>
 <script src="js/database.js"></script>
<!--<script src="js/main_2.js"></script>-->
</body>
</html>

