<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="jquery-ui-1.11.4/jquery-ui.css">
    <link rel="stylesheet" media="screen" href="css/star-rating.min.css">
    <link rel="stylesheet" media="screen" href="css/player1.css">
    <title>Explorateur</title>
</head>
<body>
<div id="maskLayer">
    <h1>Choisir un avatar</h1>
    <div id="choosePlayer">
        <div class="choosePlayer">
            <button class="btn btn-default choosePlayerBtn" value=1>
                <img src="img/player1.png">
            </button>
        </div>
        <div class="choosePlayer">
            <button class="btn btn-default choosePlayerBtn" value=2>
                <img src="img/player2.png">
            </button>
        </div>
        <div class="choosePlayer">
            <button class="btn btn-default choosePlayerBtn" value=3>
                <img src="img/player3.png">
            </button>
        </div>
    </div>
</div>
<div id="appLayer">
    <div id="locationInfo" class="container">
        <div class="head">
            <h5>Données de l'emplacement :  <span id="dataLocation">?</span></h5>
        </div>
        <div id="locationDetail">
            <div class="infoTable">
                <p><b>Lumière</b></p>
                <table id="locationLight" class="table table-bordered">
                    <tr class="active">
                        <th>Mesure 1</th>
                        <th>Mesure 2</th>
                        <th>Mesure 3</th>
                        <th>Mesure 4</th>
                        <th>Moyenne</th>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                </table>
            </div>
            <div class="infoTable">
                <p><b>Vent</b></p>
                <table id="locationWind" class="table table-bordered">
                    <tr class="active">
                        <th>Mesure 1</th>
                        <th>Mesure 2</th>
                        <th>Mesure 3</th>
                        <th>Mesure 4</th>
                        <th>Moyenne</th>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                </table>
            </div>
            <div class="infoTable">
                <p><b>Température du sol</b></p>
                <table id="locationTemperature" class="table table-bordered">
                    <tr class="active">
                        <th>Mesure 1</th>
                        <th>Mesure 2</th>
                        <th>Mesure 3</th>
                        <th>Mesure 4</th>
                        <th>Moyenne</th>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                </table>
            </div>
            <div class="infoTable">
                <p><b>Nitrates</b></p>
                <table id="locationPH" class="table table-bordered">
                    <tr class="active">
                        <th>Mesure 1</th>
                        <th>Mesure 2</th>
                        <th>Mesure 3</th>
                        <th>Mesure 4</th>
                        <th>Moyenne</th>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="addNotes" class="container">
        <div class="head">
            <h5>Ajouter mes notes</h5>
        </div>
        <div id="avatar"><img src="img/player1.png"></div>
        <div id="myNote">
            <textarea class="form-control" rows="3" cols="1"></textarea>
            <button class="btn btn-default pull-right btn-sm" id="submitNote">Validation</button>
        </div>
    </div>
    <div id="addAgu" class="container">
        <div class="head">
            <h5>Ajouter mes argumentaires</h5>
        </div>
        <div id="avatar"><img src="img/player1.png"></div>
        <div id="myAgu">
            <textarea class="form-control" rows="3" cols="1"></textarea>
            <button class="btn btn-default pull-right btn-sm" id="submitAgu">Validation</button>
        </div>
    </div>

    <div id="showNotes" class="container">
        <div class="head">
            <h5>Mes notes</h5>
        </div>
        <span id="note"></span>
    </div>
    <div id="showAgu" class="container">
        <div class="head">
            <h5>Mes argumentaires</h5>
        </div>
        <span id="arguments"></span>
    </div>

    <div id="vote" class="container">
        <div class="head">
            <h5>Évaluer cet emplacement</h5>
        </div>
        <input id="input" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs">
        <button class="btn btn-default pull-right btn-sm" id="submitVote">Validation</button>
        <div id="voteConfirm" title="Rating the location">
            <p>Voulez-vous évaluer cet emplacement?</p>
        </div>
    </div>
    <div id="dialogSpace">
        <div id="chooseLocationDlg" title="Attention">
            Choisissez d'abord un emplacement!
        </div>
        <div id="writeNoteDlg" title="Attention">
            Écrivez une note avant de la soumettre!
        </div>
    </div>
</div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/pouchdb-3.4.0.min.js"></script>
<script src="js/pouchdb.find.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/player1.js"></script>
<script src="js/star-rating.min.js"></script>
<script src="js/screenfull.js"></script>
<script src="jquery-ui-1.11.4/jquery-ui.min.js"></script>
</body>
</html>