<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="css/star-rating.min.css">
    <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="css/media.css">
    <link rel="stylesheet" media="screen" href="jquery-ui-1.11.4/jquery-ui.css">
    <link href='css/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" media="screen" href="css/main.css">
    <title>Map</title>
</head>
<body>
<div id="maskLayer">
    <div id="welcomeScreen">
        <h1>Sélectionnez l'entreprise dans laquelle vous travaillez :</h1>
    </div>
    <div id="chooseGroup">
        <div class="chooseGroup">
            <h3>Insectosport</h3>
            <button class="btn btn-default chooseGroupBtn" value="1">
                <img src="img/group1.png">
            </button>
        </div>
        <div class="chooseGroup">
            <h3>Ver-epice</h3>
            <button class="btn btn-default chooseGroupBtn" value="2">
                <img src="img/group2.png">
            </button>
        </div>
        <div class="chooseGroup">
            <h3>Bullfight-and-honey</h3>
            <button class="chooseGroupBtn" value="3" id="blackGroundBtn">
                <img src="img/group3.png">
            </button>
        </div>
        <div class="chooseGroup">
            <h3>Luvilo</h3>
            <button class="btn btn-default chooseGroupBtn" value="4">
                <img src="img/group4.png">
            </button>
        </div>
    </div>
</div>
<div id="appLayer">
    <div id="status" class="container">
        <!--Détails sur l'insecte-->
        <div id="insect" class="kit">
            <h3>Notre insecte</h3>
            <a class="insectBtn" id="insectBtn1">
                <img src="img/LogoInsecte.png">
            </a>
            <a class="insectBtn" id="insectBtn2">
                <img src="img/LogoInsecte.png">
            </a>
            <a class="insectBtn" id="insectBtn3">
                <img src="img/LogoInsecte.png">
            </a>
            <a class="insectBtn" id="insectBtn4">
                <img src="img/LogoInsecte.png">
            </a>
        </div>
        <!--Progress of the rating -->
        <div id="leaderboard" class="kit">
            <h3>Progression</h3>
            <div class="players">
                <div class="player">
                    <div class="avatars">
                        <img src="img/player1.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNoteExplorateur.png">
                    </div>
                    <!--<p>Explorateur</p>-->
                    <div class="progressbar" id="progressbar1"></div>
                    <P>0/8 Emplacements</P>
                </div>
                <div class="player">
                    <div class="avatars">
                        <img src="img/player2.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNoteJournaliste.png">
                    </div>
                    <!--<p>Journaliste</p>-->
                    <div class="progressbar" id="progressbar2"></div>
                    <P>0/8 Emplacements</P>
                </div>
                <div class="player">
                    <div class="avatars">
                        <img src="img/player3.png">
                    </div>
                    <div class="badges noteBadge">
                        <img src="img/badgeNotePhotographe.png">
                    </div>
                    <!--<p>Photographe</p>-->
                    <div class="progressbar" id="progressbar3"></div>
                    <P>0/8 Emplacements</P>
                </div>
            </div>
            <div id="timerBadge" class="badges">
                <img src="img/badgeTimer.png">
            </div>
        </div>
        <!--Show tasks of each step-->
        <div id="tasks" class="kit">
            <h3>Consignes</h3>
            <ul>
                <li>
                    <p class="steps" id="step1">
                        Étape 1 : Analysez et évaluez chaque emplacement
                    </p>
                    <div id="nextStep">
                        <button class="btn btn-warning pull-right" id="toStep2">Vérifier les résultats</button>
                    </div>
                </li>
                <li>
                    <p class="steps" id="step2">
                        Étape 2 : Choisissez un emplacement
                    </p>
                </li>
                <li>
                    <p class="steps" id="step3">
                        Étape 3 : Construisez votre argumentaire
                    </p>
                    <div id="finalStep">
                        <button class="btn btn-warning" id="finalStepBtn">Validation</button>
                    </div>
                </li>
            </ul>
        </div>
        <!--timer-->
        <div id="counter" class="kit">
            <h3>Chrono</h3>
            <div id="timer"></div>
        </div>
    </div>
    <!--Change the location-->
    <div id="navigationTab">
        <ul>
            <li id="mountainTab" class="activeTab">
                <a href="#" id="mountain"><h3>Montagne</h3></a>
            </li>
            <li id="schoolTab">
                <a href="#" id="school"><h3>Lycée</h3></a>
            </li>
        </ul>
    </div>
    <!--Here is the map div-->
    <!--Show the mountain location cards-->
    <div class="mountainLocations">
        <div class="location" id="location1" title="Location1">
            <div class="locationTitle">
                <h3>Balcon sur la cascade</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation1">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>
                <span class="vote" id="vote1">
                    <h4>Évaluation :</h4>
                <input id="input1" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note1"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments1"></span>
                </div>
            </div>
        </div>

        <div class="location" id="location2" title="Location2">
            <div class="locationTitle">
                <h3>Sous les embruns</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation2">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote2">
                    <h4>Évaluation :</h4>
                    <input id="input2" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note2"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments2"></span>
                </div>

            </div>
        </div>

        <div class="location" id="location3" title="Location3">
            <div class="locationTitle">
                <h3>Au détour du sentier</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation3">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote3">
                    <h4>Évaluation :</h4>
                    <input id="input3" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note3"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments3"></span>
                </div>
            </div>
        </div>
        <div class="location" id="location4" title="Location4">
            <div class="locationTitle">
                <h3>La clairière</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation4">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote4">
                    <h4>Évaluation :</h4>
                    <input id="input4" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note4"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments4"></span>
                </div>
            </div>
        </div>
    </div>
    <!--Show the school location cards-->
    <div class="schoolLocations">
        <div class="location" id="location5" title="Location5">
            <div class="locationTitle">
                <h3>Lycée N°1</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation5">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote5">
                    <h4>Évaluation :</h4>
                    <input id="input5" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note5"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments5"></span>
                </div>
            </div>
        </div>

        <div class="location" id="location6" title="Location6">
            <div class="locationTitle">
                <h3>Lycée N°2</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation6">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote6">
                    <h4>Évaluation :</h4>
                    <input id="input6" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note6"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments6"></span>
                </div>
            </div>
        </div>
        <div class="location" id="location7" title="Location7">
            <div class="locationTitle">
                <h3>Lycée N°3</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation7">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>
                <br>

                <span class="vote" id="vote7">
                    <h4>Évaluation :</h4>
                    <input id="input7" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note7"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments7"></span>
                </div>
            </div>
        </div>
        <div class="location" id="location8" title="Location8">
            <div class="locationTitle">
                <h3>Lycée N°4</h3>
            </div>
            <div class="locationContent">
                <div class="visualPlayers"  id="visualLocation8">
                    <h4>Visualisation :</h4>
                    <div class="visualPlayer visualPlayer1">
                        <img src="img/player1.png">
                    </div>
                    <div class="visualPlayer visualPlayer2">
                        <img src="img/player2.png">
                    </div>
                    <div class="visualPlayer visualPlayer3">
                        <img src="img/player3.png">
                    </div>
                </div>

                <span class="vote" id="vote8">
                    <h4>Évaluation :</h4>
                    <input id="input8" class="rating" data-min="0" data-max="5" data-step="1" data-stars=5  data-show-clear="false" data-size="xs" data-readonly="true">
                </span>
                <br>
                <div class="note">
                    <h4>Notes :</h4>
                    <span id="note8"></span>
                </div>
                <div class="arguments">
                    <h4>Argumentaire :</h4>
                    <span id="arguments8"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Here are the hiden dialogs-->
<div id="dialogSpace">
    <div id="insectInfoWrap">
        <!--Insectosport-->
        <div id="insect1" class="insects" title="Coleoptera">
            <img src="img/insect1.png">
        </div>
        <!--Ver'Epice-->
        <div id="insect2" class="insects" title="Fourmis">
            <img src="img/fourmis.png">
        </div>
        <!--Bullfight-and-honey-->
        <div id="insect3" class="insects" title="Lepidoptera">
            <h4>Les lépidoptères (Lepidoptera) sont un ordre d'insectes dont la forme adulte est communément appelée papillon et dont la larve est une chenille.</h4>

            <h4>Il s'agit d'un des ordres d'insectes le plus répandu et le plus largement connu dans le monde, comprenant entre 155 181 et 174 250 espèces décrites (dont près de 7 000 en Europe et 5 000 en France) réparties dans 126 familles et 46 super-familles.</h4>

            <h4>Ils se caractérisent à l’état adulte par trois paires de pattes (comme tous les insectes) et par deux paires d'ailes recouvertes d’écailles de couleurs très variées selon les espèces. Les lépidoptères pondent des œufs qui donnent naissance à des chenilles. Ces dernières se transforment ensuite en chrysalides (s'abritant ou non dans un cocon préalablement tissé). Il en émerge enfin l'imago, ou papillon. Leur cycle biologique se trouve donc composé de quatre stades distincts: œuf, chenille, chrysalide et papillon. Ce sont des insectes à métamorphose complète.</h4>
        </div>
        <!--Luvio-->
        <div id="insect4" class="insects" title="Orthoptera">
            <h4>Le grillon, pauvre en graisse mais riches en protéines.</h4>
            <h4>Ces valeurs nutritionnelles sont proportionnelles à la viande de bœuf.</h4>
            <h4>C'est l'insecte le plus savoureux et le plus consommé.</h4>
            <h4>Les grillons adultes vivent plus longtemps et sont plein de vie et toujours actifs.</h4>
            <h4>Ils n'ont pas besoin de beaucoup de place.</h4>
        </div>
    </div>
</div>
<div id="map"></div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='js/mapbox.js'></script>
<script src="jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/jquery.touch.js"></script>
<script src="js/pouchdb-3.4.0.min.js"></script>
<script src="js/pouchdb.find.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/star-rating.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/presentation.js"></script>
</body>
</html>

