body{
	background-color: #fafafa;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.item{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.list-group-item{
	height: 40px;
}
.markerArea{
	padding: 10px;
	background-color: #fff; 
	border: 1px solid #E0E0E0;
}
#showMarkers{
	margin-top: 10px;
	margin-bottom: 10px;
}