*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*position: relative;*/
}
#cfgLocation{
    width: 80%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px groove;
    /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);*/
}
.form-group{
    margin-right: 15px;
    margin-top: 10px;
}
.form-group label{
    margin-right: 5px;
}
#addLocation{
    margin-top: 10px;
}