*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
li{
    list-style-type: none;
}
#maskLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0D47A1, #BBDEFB);
    z-index: 999;
}
#welcomeScreen{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
#maskLayer h1, #maskLayer h3{
    text-align: center;
    color: #fff;
}

#maskLayer #chooseGroup{
    width: 1000px;
    height: 210px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#maskLayer .chooseGroup{
    float: left;
    width: 220px;
    height: 200px;
    margin-right: 25px;
}
#maskLayer button{
    width: 220px;
    height: 200px;
}
#blackGroundBtn{
    background-color: #000;
}
#maskLayer button img{
    width: 100%;
    height: 100%;
}
ul li{
    list-style-type: none;
}
h3{
    text-align: center;
}
p{
    font-size: 13px;
    color: #e0e0e0;
}
#appLayer{
    width: 100%;
    height: 210px;
}
#status{
    width: 100%;
    height: 210px;
    background-color: #303030;
    padding-left: 0px; 
}
#status h4,#status h3{
    text-align: center;
    color: #e0e0e0;
}

.kit{
    /*margin-right: 1%;*/
    margin-top: 10px;
    height: 187px;
}
#insect{
    height: 100%;
    float: left;
    background-color: #424242;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

#insect a{
    width: 50px;
    height: 50px;
    /*margin-left: 10%;*/
    margin-top: 30px;
}

#insect a img{
    margin-top: 30px;
    width: 60px;
    height: 60px;
}
.insects{
    background-color: #fff;
}
#leaderboard{
    /*margin-left: 1%;*/
    float: left;
    /*width: 35%;*/
    padding-bottom: 5px;
    background-color: #424242;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

#leaderboard .players {
    height: 150px;
    /*margin-left: 10px;*/
    float: left;
}
.player{
    height: 150px;
    /*width: 160px;*/
    float: left;
    /*margin-right: 3%;*/
}
.player p{
    float: left;
}
.avatars{
    margin-left: 10px;
    width: 80px;
    height: 80px;
    float: left;
}
.avatars img{
    width: 70px;
    height: 70px;
}
.noteBadge{
    float: left;
    width: 30px;
    /*margin-left: 10px;*/
    margin-top: 10px;
}
.noteBadge img{
    width: 100%;
}
#leaderboard .progressbars{
    float: left;
    /*width: 250px;*/
    height: 100%;
    border-radius: 5px;
    margin-left: 10px;
}

#leaderboard .progressbar{
    /*width: 130px;*/
    float: left;
    /*margin-top: 12px;*/
}
#progressbar1 .ui-widget-header{
    border: 1px solid #009688;
    background-color: #009688;
}
#progressbar2 .ui-widget-header{
    border: 1px solid #8BC34A;
    background-color: #8BC34A;
}
#progressbar3 .ui-widget-header{
    border: 1px solid #FF9800;
    background-color: #FF9800;
}
.badges{
    padding-left: 0px;
    margin-top: -5px;
}
.badges p{
    margin-bottom: 5px;
    text-align: center;
}
#timerBadge{
    margin-left: 10px;
}
#timerBadge img{
    width: 100%;
    /*height: 100%;*/
}
#tasks{
    /*margin-left: 1%;*/
    float: left;
    height: 100%;
    background-color: #424242;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
#tasks ul{
    float: left;
    margin-left: 20px;
}
#tasks .steps{
    height: 30px;
    width: 700px;
    margin-bottom: 10px;
}
.glyphicon-unchecked, .glyphicon-check{
    font-size: 25px;
    float: left;
}
#tasks ul li p{
    font-size: 20px;
    color: #616161;
    line-height: 30px;
    margin-left: 40px;
}

#nextStep{
    margin-left: 20px;
    float: left;
}
#finalStep{
    margin-left: 110px;
    float: left;
}
#selectLocation{
    float: left;
    width: 150px;
    margin-left: 20px;
}
.chooseBtn{
    float: right;
    /*margin-left: 10px;*/
}
#resetLocationBtn{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

#counter{
    float: right;
    /*width: 10%;*/
    background-color: #424242;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
#timer1,#timer2,#timer3 {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
#navigationTab{
    position: absolute;
    margin-left: 20px;
    top: 200px;
    width: 300px;
    height: 70px;
    z-index: 2;
}
#navigationTab ul{
    width: 100%;
    height: 100%;
}
#navigationTab ul li{
    position: relative;
    display: block;
    float: left;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 0px 0px 10px 10px;
    /*border-top: 2px solid #303030;*/
}
#navigationTab ul li a{
    height: 100%;
    position: relative;
    display: block;
    color: #303030;
    padding: 1px 20px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
#navigationTab ul li.activeTab a{
    background-color: #303030;
    color: #e0e0e0;
}
#map{
    width: 100%;
    height: 500px;
    float: left;
    /*margin-left: 5px;*/
}
.location{
    position: absolute;
    left: 75px;
    top: 200px;
    z-index: 1;
    width: 425px;
    height: 400px;
    overflow: visible;
    border-radius: 15px;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
#insectImg,#energyImg{
    position: absolute;
    left: 75px;
    top: 200px;
    z-index: 10;
}
.locations .location{
    background-color: #D7CCC8;
    border: 3px solid #5D4037;
}
.locations .locationTitle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #5D4037;
    border-radius: 10px 10px 0 0;
}

.locationTitle h3{
    color: #ffffff;
}
.location span p {
    float: left;
    margin-right: 5px;
    padding: 5px;
    /*border: 1px solid;*/
}
.visualPlayers{
    position: absolute;
    top: 70px;
    /*left: 170px;*/
    width: 390px;
    height: 100px;
    margin-left: 15px;
    border-bottom: 1px solid #5D4037;
}
.markerBtn{
    background-color: #5bc0de;
    color: #ffffff;
    border-color: #46b8da;
    /*width: 50px;*/
    height: 50px;
    margin-bottom: 10px;
    padding: 6px 6px;
}
.visualPlayers .markerBtn{
    /*margin-left: 20px;*/
}
.visualBtns{
    padding-left: 0px;
}
.markerBtn img{
    /*width: 100%;*/
    height: 100%;
}
.checkMarker{
    padding-top: 10px;
    padding-left: 5px;
}
.locationContent .vote{
    position: absolute;
    top: 175px;
    width: 300px;
    height: 90px;
    margin-top: 10px;
    margin-left: 15px;
}
.vote span{
    float: left;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.glyphicon-star, .glyphicon-ok-circle{
    font-size: 2em;
}

.locationContent h4{
    margin-top: 0;
    width: 150px;
}

.chooseLocation{
    position: absolute;
    left: 410px;
    margin-left: 5px;
    background-color: #5D4037;
    padding: 10px;
    border-radius: 15px;
}
.chooseLocation button{
    /*margin-top: 15px;*/
}
.note{
    width: 390px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    top: 250px;
}
.arguments{
    width: 390px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    top: 270px;
}
.note h4, .arguments h4{
    margin-top: 10px;
}
.note, .arguments{
    border-top: 1px solid #5D4037;
}

.locations h4{
    color: #4E342E;
}

.note p, .arguments p{
    border-radius: 5px;
}
.notePlayer1, .aguPlayer1{
    background-color: #E0F2F1;
    color: #009688;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.notePlayer2, .aguPlayer2{
    background-color: #F1F8E9;
    color: #8BC34A;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.notePlayer3, .aguPlayer3{
    background-color: #FFF3E0;
    color: #FF9800;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

}

#map button{
    background-color: #5bc0de;
    color: #ffffff;
    border-color: #46b8da;
    width: 74px;
    height: 62px;
}
#map button img{
    width: 100%;
    height: 100%;
}
    /*.leaflet-popup-content-wrapper{*/
    /*background-color: #f5e79e;*/
/*}*/

#dialogSpace h4{
    margin-bottom: 5px;
}

.ui-dialog-titlebar-close {
    display: none
}

.leaflet-control-attribution{
    visibility: hidden;
}
.btn-circle {
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 20px;
}
.markerImg{
    margin-bottom: 10px;
    width: 100%;
}
.mapMarker .markerBtn{
    margin-right: 10px;
}
.markerCheck{
    margin-right: 20px;
}
.grey{
    color: #e3e3e3;
}
.star{
    color: #fde16d;
}
.star-worst{
    color: #d9534f;
}
.star-bad{
    color: #ec971f;
}
.star-normal{
    color: #31b0d5;
}
.star-good{
    color: #337ab7;
}
.star-best{
    color: #449d44;
}
.caption{
    margin-top: 8px;
    margin-left: 10px;
}
.visualBtns{
    float: left;
}