body{
	background-color: #fafafa;
}
.nav, .pagination, .carousel, .panel-title a, li p {
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: #fff;
}
.appName{
	margin-top:100px;
}
.chooseTitle{
	margin-top: 50px;
	margin-bottom: 30px;
}
.docList{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
#maskLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0D47A1, #BBDEFB);
}
#maskLayer button{
    float: left;
    margin-right: 10px;
}
.choosePlayer{
	float: left;
	margin-right: 20px;
}
#choosePlayer a{
    width: 120px;
    height: 110px;
}

#maskLayer a img{
    width: 100%;
    height: 100%;
}

#goMonitor{
    margin-top: 40px;
}
.noteOfPlayer p{
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    float: left;
}