*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding-right: 20px;
    /*position: relative;*/
}
html{
    width: 100%;
    height: 526px;
    background-color: #fff;
}
body{
    width: 100%;
    height: 100%;
    margin-top:20px;
}
h1{
    text-align: center;
    margin-top: 35px;
}
p, table{
    font-size: 13px;
    /*text-align: center;*/
}
.table{
    margin-bottom: 15px;
}

#appLayer{
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#personalMenu{
    height: 120px;
}
.identity{
    width: 100%;
}
.identity p{
    margin-top: 10px;
    text-align: center;
    font: bold 16px courier;
}
#avatar{
    width:70px;
    height:70px;
    /*float: left;*/
    margin: auto;
    margin-top: 10px;
}
.item{
    border-bottom: 1px solid #009688;
}
#evaluation{
    padding: 10px;
}
.stars{
    margin-bottom: 5px;
}
#markerSpace{
    float: left;
    height: 750px;
    /*overflow: scroll;*/
    /*margin-top: 10px;*/
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#markerInfo{
    height: 250px;
}
.criName{
    color: #616161;
    font-size: 85%;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}
.caption{
    color: #ffffff;
    background-color: #3F51B5;
    margin-left: 10px;
    position: relative;
    top: 2px;
}
.noteOfPlayer{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.noteOfPlayer p{
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

}
.notePlayer1, .aguPlayer1{
    background-color: #E0F2F1;
    color: #009688;
}
.notePlayer2, .aguPlayer2{
    background-color: #F1F8E9;
    color: #8BC34A;
}
.notePlayer3, .aguPlayer3{
    background-color: #FFF3E0;
    color: #FF9800;
}
.notePlayer4, .aguPlayer4{
    background-color: #88c5c3;
    color: #F5F5F5;
}

.glyphicon-star, .glyphicon-heart{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.grey{
    color: #e3e3e3;
}
.star{
    color: #fde16d;
}
.heart{
    color: #D50000;
}

.caption{
    margin-left: 10px;
}
/*.glyphicon-star{
    font-size: 2em;
}*/
.glyphicon{
    font-size: 25px;
    float: left;
}

#showNotes, #showAgu{
    float: left;
    /*width: 35%;*/
    height: 190px;
    overflow: scroll;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

}

#addNotes, #addAgu{
    float: left;
    /*width: 35%;*/
    height: 165px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

#myNote, #myAgu{
    /*width: 70%;*/
    margin-left: 10px;
    float: left;
}

#avatar img{
    width: 100%;
    height: 100%;
}
#submitNote, #submitAgu{
    margin-top: 5px;
}


#submitVote{
    position: absolute;
    top: 90px;
    right: 10px;
}
.ui-dialog-titlebar-close {
    display: none
}