*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding-right: 20px;
    position: relative;
}
html{
    width: 100%;
    height: 526px;
    background-color: #fff;
}
body{
    width: 100%;
    height: 100%;
    margin-top:20px;
}

p, table{
    font-size: 13px;
    /*text-align: center;*/
}
.table{
    margin-bottom: 15px;
}
#maskLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0D47A1, #BBDEFB);
    z-index: 999;
}
#maskLayer h1{
    text-align: center;
    color: #fff;
    margin-top: 100px;
}
#maskLayer #choosePlayer{
    width: 750px;
    height: 210px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#maskLayer .choosePlayer{
    float: left;
/*    width: 220px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;*/
}
#maskLayer button{
    width: 220px;
    height: 200px;
}

#maskLayer button img{
    width: 100%;
    height: 100%;
}
#avatar{
    width:70px;
    height:70px;
    float: left;
    margin-left: 10px;
}
#sharedSpace{
    float: left;
    height: 750px;
    /*overflow: scroll;*/
    /*margin-top: 10px;*/
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#commonNotes{
    height: 380px;
    border: 1px solid #009688;

}
#addCommonNotes{
    height: 300px;
    border: 1px solid #009688;

}
#markerSpace{
    float: left;
    height: 750px;
    /*overflow: scroll;*/
    /*margin-top: 10px;*/
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#markerInfo{
    height:450px;
    border: 1px solid #009688;
    /*box-shadow: 10px 10px 5px #888888;*/
}
#addMarkerNote{
    height: 200px;
    border: 1px solid #009688;

}
#markerNote{
    height:300px;
    border: 1px solid #009688;

}
#evaluation{
    height: 100px;
    float: left;
    border: 1px solid #009688;

}
.noteOfPlayer{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.noteOfPlayer p{
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

}
.notePlayer1, .aguPlayer1{
    background-color: #E0F2F1;
    color: #009688;
}
.notePlayer2, .aguPlayer2{
    background-color: #F1F8E9;
    color: #8BC34A;
}
.notePlayer3, .aguPlayer3{
    background-color: #FFF3E0;
    color: #FF9800;
}
.notePlayer4, .aguPlayer4{
    background-color: #88c5c3;
    color: #F5F5F5;
}

#evaluation span{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.grey{
    color: #e3e3e3;
}
.star{
    color: #fde16d;
}
.heart{
    color: #d9534f;
}

.caption{
    margin-left: 10px;
}
/*.glyphicon-star{
    font-size: 2em;
}*/
.glyphicon{
    font-size: 25px;
    float: left;
}
/*.head{
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #009688;
    color: #FAFAFA;
    padding: 10px 0 10px 10px;
}
.head h5{
    margin-top: 0;
    margin-left: 10px;
}
#locationDetail{
    width: 90%;
    margin: auto;
}
*/
#showNotes, #showAgu{
    float: left;
    width: 35%;
    height: 190px;
    overflow: scroll;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

}

#addNotes, #addAgu{
    float: left;
    width: 35%;
    height: 165px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

#myNote, #myAgu{
    width: 70%;
    margin-left: 10px;
    float: left;
}

#avatar img{
    width: 100%;
    height: 100%;
}
#submitNote, #submitAgu{
    margin-top: 5px;
}


#submitVote{
    position: absolute;
    top: 90px;
    right: 10px;
}
.ui-dialog-titlebar-close {
    display: none
}