*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    position: relative;
}
html{
    width: 100%;
    height: 526px;
    background-color: #fff;
}
body{
    width: 100%;
    height: 100%;
    margin-top:20px;
}

p, table{
    font-size: 13px;
    /*text-align: center;*/
}
.table{
    margin-bottom: 15px;
}

#locationInfo{
    float: left;
    width: 60%;
    height: 510px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    /*box-shadow: 10px 10px 5px #888888;*/
}
.head{
    width: 100%;
    height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    /*background-color: #3f51b5;*/
    background-color: #009688;
    color: #FAFAFA;
    padding: 10px 0 10px 10px;
}
.head h5{
    margin-top: 0;
    margin-left: 10px;
}
#locationDetail{
    width: 90%;
    margin: auto;
}

#showNotes, #showAgu{
    float: left;
    width: 35%;
    height: 190px;
    overflow: scroll;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

}
.noteOfPlayer, .aguOfPlayer{
    float: left;
    /*border: 1px solid;*/
    margin-left: 3%;
    margin-bottom: 10px;
}
#addNotes, #addAgu{
    float: left;
    width: 35%;
    height: 165px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

#myNote, #myAgu{
    width: 70%;
    margin-left: 10px;
    float: left;
}
#avatar{
    width:70px;
    height:70px;
    float: left;
    margin-left: 10px;
}
#avatar img{
    width: 100%;
    height: 100%;
}
#submitNote, #submitAgu{
    margin-top: 5px;
}
#note p, #arguments p{
    background-color: #E0F2F1;
    /*border: 1px solid;*/
    color: #009688;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

#vote{
    float: left;
    width: 35%;
    height: 135px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.star-rating{
    float: left;
    margin-left: 10px;
}
#submitVote{
    position: absolute;
    top: 90px;
    right: 10px;
}
.ui-dialog-titlebar-close {
    display: none
}