*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
#maskLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0D47A1, #BBDEFB);
    z-index: 999;
}
#welcomeScreen{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
#maskLayer h1, #maskLayer h3{
    text-align: center;
    color: #fff;
}

#maskLayer #chooseGroup{
    width: 1000px;
    height: 210px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#maskLayer .chooseGroup{
    float: left;
    width: 220px;
    height: 200px;
    margin-right: 25px;
}
#maskLayer button{
    width: 220px;
    height: 200px;
}
#blackGroundBtn{
    background-color: #000;
}
#maskLayer button img{
    width: 100%;
    height: 100%;
}
ul li{
    list-style-type: none;
}
h3{
    text-align: center;
}
p{
    font-size: 15px;
    color: #e0e0e0;
}

#status{
    /*margin-left: 5px;*/
    width: 100%;
    height: 180px;
    background-color: #303030;
}
#status h4{
    text-align: center;
    color: #e0e0e0;
}

.kit{
    margin-right: 10px;
    margin-top: 10px;
    height: 158px;
}
#insect{
    width: 150px;
    float: left;
    background-color: #424242;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

#insect a{
    /*width: 70px;*/
    /*height: 70px;*/
    margin-left: 20px;
    /*margin-top: 10px;*/
}

#insect a img{
    width: 110px;
    height: 110px;
}
.insects{
    background-color: #fff;
}
.insects img{
    /*width: 100%;*/
    /*height: 100%;*/
}
#leaderboard{
    float: left;
    width: 650px;
    padding-bottom: 5px;
    background-color: #424242;
}

#leaderboard .players {
    height: 150px;
    margin-left: 10px;
    float: left;
}
.player{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 20px;
}
.player p{
    float: left;
}
.avatars{
    margin-left: 10px;
    width: 80px;
    height: 80px;
    float: left;
}
.avatars img{
    width: 70px;
    height: 70px;
}
.noteBadge{
    float: left;
    width: 50px;
    height: 50px;
    /*margin-left: 10px;*/
    margin-top: 10px;
}
.noteBadge img{
    width: 100%;
    height: 100%;
}
#leaderboard .progressbars{
    float: left;
    width: 250px;
    height: 100%;
    border-radius: 5px;
    margin-left: 10px;
}

#leaderboard .progressbar{
    width: 125px;
    float: left;
    /*margin-top: 12px;*/
}

#timerBadge{
    float: left;
    width: 120px;
    height: 120px;
}
#timerBadge img{
    width: 100%;
    height: 100%;
}
#tasks{
    float: left;
    width: 650px;
    background-color: #424242;
}
#tasks ul{
    float: left;
    margin-left: 10px;
}
#tasks ul li{
    height: 27px;
    list-style-type: none;
}
#tasks ul li p{
    float: left;
    font-size: 20px;
    color: #616161;
}
#nextStep, #finalStep{
    margin-left: 20px;
    float: left;
}
#selectLocation{
    float: left;
    width: 150px;
    margin-left: 20px;
}
#submitChoice{
    margin-left: 10px;
}
#counter{
    float: right;
    width: 160px;
    background-color: #424242;
}
#counter #timer{
    margin-left: 10px;
    margin-top: 45px;
}
#navigationTab{
    position: absolute;
    margin-left: 15px;
    top: 180px;
    width: 220px;
    height: 40px;
    z-index: 2;
}
#navigationTab ul{
    width: 100%;
    height: 100%;
}
#navigationTab ul li{
    position: relative;
    display: block;
    float: left;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 0px 0px 10px 10px;
    /*border-top: 2px solid #303030;*/
}
#navigationTab ul li a{
    position: relative;
    display: block;
    color: #303030;
    padding: 1px 20px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
#navigationTab ul li.activeTab a{
    background-color: #303030;
    color: #e0e0e0;
}
#map{
    width: 100%;
    height: 85%;
    float: left;
    /*margin-left: 5px;*/
}
.location{
    position: absolute;
    left: 75px;
    top: 200px;
    z-index: 1;
    width: 400px;
    height: 350px;
    overflow: visible;
    border-radius: 15px;
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
.mountainLocations .location{
    background-color: #D7CCC8;
    border: 3px solid #5D4037;
}
.mountainLocations .locationTitle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #5D4037;
    border-radius: 10px 10px 0 0;
}
.schoolLocations .location{
    background-color: #CFD8DC;
    border: 2px solid #455A64;
}
.schoolLocations .locationTitle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #455A64;
    border-radius: 10px 10px 0 0;
}
.locationTitle h3{
    color: #ffffff;
}
.location span p {
    float: left;
    margin-right: 5px;
    padding: 5px;
    /*border: 1px solid;*/
}
.location .locationContent span.vote{
    position: absolute;
    top: 60px;
    width: 185px;
    height: 110px;
    margin-top: 10px;
    margin-left: 15px;
    border-right: 1px solid #5D4037;
}
.locationContent h4{
    margin-top: 0;
}
.location .locationContent .star-rating{
    margin-right: 15px;
    width: 120px;
}
.location .visualPlayers{
    position: absolute;
    top: 70px;
    left: 200px;
    width: 190px;
    height: 110px;
    margin-left: 15px;
}

.location .visualPlayers .visualPlayer{
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 10px;
    margin-right: 10px;
}
.location .visualPlayers .visualPlayer img{
    width: 100%;
    height: 100%;
}

.location .chooseLocation{
    position: absolute;
    top: 70px;
    left: 200px;
    width: 190px;
    height: 110px;
    margin-left: 15px;
}

.location .locationContent .note{
    width: 370px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    top: 180px;
}
.location .locationContent .arguments{
    width: 370px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
}
.note h4, .arguments h4{
    margin-top: 10px;
}
.mountainLocations .note{
    border-top: 1px solid #5D4037;
}
.schoolLocations .note, .schoolLocations .arguments{
    border-top: 1px solid #455A64;
}
.mountainLocations h4{
    color: #4E342E;
}
.schoolLocations .note h4{
    color: #37474F;
}
.note p, .arguments p{
    border-radius: 5px;
}
.notePlayer1, .aguPlayer1{
    background-color: #E0F2F1;
    color: #009688;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.notePlayer2, .aguPlayer2{
    background-color: #F1F8E9;
    color: #8BC34A;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.notePlayer3, .aguPlayer3{
    background-color: #FFF3E0;
    color: #FF9800;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

}

#map button{
    background-color: #5bc0de;
    color: #ffffff;
    border-color: #46b8da;
    width: 74px;
    height: 62px;
}
#map button img{
    width: 100%;
    height: 100%;
}
    /*.leaflet-popup-content-wrapper{*/
    /*background-color: #f5e79e;*/
/*}*/

#dialogSpace h4{
    margin-bottom: 5px;
}

.ui-dialog-titlebar-close {
    display: none
}

#leaflet-control-attribution{
    visibility: hidden;
}