body{
	background-color: #fafafa;
}
.container{
	width: 100%;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
h4,h5{
	margin-top: 0;
}
.docList{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
#items{
	margin-top: 10px;
	padding: 20px;
}
.item{
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.list-group-item{
	height: 40px;
}
.caption p{
	font-size: 14px;
}
.createArea{
	background-color: #fff; 
	border: 1px solid #E0E0E0;
}
.createArea .form-group{
	margin-top: 10px;
	margin-bottom: 10px;
}
.markerArea, .infoArea{
	padding: 10px;
	background-color: #fff; 
	border: 1px solid #E0E0E0;
}
#showMarkers{
}
.radio, .timer, .notenunm{
	float: left;
}
.noteBadge label, .commonSpace label{
	font-weight: 400;
}
.stepBtn{
	margin-bottom: 30px;
}
#previewMap{
	border: 3px solid #E0E0E0;
	width: 100%;
	height: 480px;
}
.panel-heading{
	height: 38px;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5; 
}
.saveBtn{
	margin-bottom: 0;
}
.UIRole .radio{
	margin-top: 0;
}
.deviceType{
	margin-right: 20px;
}
#criCheck label{
	margin-top: 10px;
	font-weight: bold;
}
.checkboxMargin input{
	margin-right: 10px;
}
