<!-- set the groups -->
<div class="row item" ng-controller="GroupCtrl">
	<div class="col-md-4">
		<h4>Set groups of students</h4>
	</div>
	<div class="col-md-8">
		<div class="panel-group" id="showGroups">
			<div class="panel panel-default" ng-repeat="group in groups track by $index">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#group-{{$index}}">Group {{$index+1}}</a>
						<button type="button" class="deleteGroupBtn btn btn-default btn-xs pull-right" ng-click="deleteItem($event,group,groups)"><span class="glyphicon glyphicon-trash"></span></button>
					</h4>
				</div>
				<div id="group-{{$index}}" class="panel-collapse collapse">
					<form class="form-horizontal markerArea" role="form" name="form">
						<div class="form-group">
							<label class="control-label col-md-4">
								Name
							</label>
							<div class="col-md-7">
								<input type="text" class="form-control" ng-model="group.name">
							</div>
						</div>			
						<div class="form-group">
							<label class="control-label col-md-4">
								Amount of students
							</label>
							<div class="col-md-7">
								<select class="form-control" ng-model="group.student">
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div> 

		<button class="btn btn-info" id="addGroupBtn" ng-click="addItem(groups)"><span class="glyphicon glyphicon-plus"></span>  Add Group</button>

	</div>

	<a class="btn btn-primary pull-right" ng-click="submit()">Save <span class="glyphicon glyphicon-floppy-disk"></span></a>
</div>