<div class="container">
  <div class="jumbotron row">
    <div>
      <h2>Deploy your experiment</h2>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <div>
        <h3>Step 1: Choose an activity</h3>
      </div>
      <div class="row item" ng-controller="ToolCtrl">
        <!-- list of the existing activities -->
        <div class="col-md-12">
          <div class="docList" ng-repeat="app in apps track by $index">
            <button class="btn btn-primary chooseApp" ng-click="chooseApp($event,$index)">{{app._id}}</button>
            <a class="btn btn-default" ng-click="editApp($index)" ui-sref="step1"><span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-default" ng-click="deleteApp(app,$index)"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </div>
        <!-- create a new activity -->
        <div class="col-md-12">
          <div class="caption"><p>Create a new activity</p></div>
          <button class="btn btn-primary" data-toggle="collapse" data-target="#createAct"><span class="glyphicon glyphicon-plus"></span>  Create</button>
          <div class="col-md-12 panel-collapse collapse createArea" id="createAct">
            <form class="form-horizontal " role="form" name="form">
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label col-md-12 pull-right">
                    Name of your new activity
                  </label>
                  <div class="caption col-md-12"><p class="pull-right">(cannot be changed once created)</p></div>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" ng-model="appName" placeholder="name">
                </div>
              </div> 
              <div class="form-group">
                <div class="col-md-4">
                  <label class="control-label col-md-12 pull-right">
                    Choose the creation style
                  </label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="col-md-12"><input type="radio" name="template" value="true" ng-model="template"> Create an activity based on existing one</label>
                    <div class="col-md-12" ng-show="template == 'true'">
                      <a class="btn btn-primary docList" ng-repeat="app in apps track by $index" ng-click="replicateApp($index)" ui-sref="step1">{{app._id}}</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12"><input type="radio" name="template" value="false" ng-model="template"> Create a new one (choose your application style)</label>
                    <div class="col-md-12" ng-show="template == 'false'">
                      <a class="btn btn-primary docList" ng-click="createDoc()" ui-sref="step1">Map</a>
                      <a class="btn btn-primary docList">Figure</a>
                      <a class="btn btn-primary docList">Text</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <h3>Step 2: Choose your class</h3>
      </div>
      <div  class="row item" ng-controller="GroupCtrl">
        <!-- list of existing classes -->
        <div class="col-md-12">
          <div class="docList" ng-repeat="class in classroom track by $index">
            <div class="docList">
              <button class="btn btn-primary chooseClass" ng-click="chooseClass($event,$index)">Class {{class.number}}</button>

              <a class="btn btn-default" data-toggle="modal" data-target="#class-{{$index}}"><span class="glyphicon glyphicon-edit"></span></a>
              <a class="btn btn-default" ng-click="deleteItem(class,classroom)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div id="class-{{$index}}" class="modal fade" role="dialog">
              <div class="modal-dialog markerArea">
                <div class="modal-header">
                  <h4 class="modal-title">Class {{class.number}}</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <label class="control-label col-md-2">
                      Number
                    </label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" ng-model="class.number">
                    </div>
                  </div>
                  <br>     
                  <div class="row">
                    <label class="control-label col-md-2">
                      Groups
                    </label>
                    <div class="col-md-10 panel-group">
                      <div class="panel panel-default" ng-repeat="group in class.groups track by $index">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#class{{$parent.$index}}group{{$index}}"> {{group.name}}</a>
                            <button type="button" class="deleteGroupBtn btn btn-default btn-xs pull-right" ng-click="deleteItem(group,class.groups)"><span class="glyphicon glyphicon-trash"></span></button>
                          </h4>
                        </div>
                        <div id="class{{$parent.$index}}group{{$index}}" class="panel-collapse collapse">
                          <form class="form-horizontal markerArea" role="form" name="form">
                            <div class="form-group">
                              <label class="control-label col-md-5">
                                Group's name
                              </label>
                              <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="group.name">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-5">
                                Amount of students
                              </label>
                              <div class="col-md-7">
                                <select class="form-control" ng-model="group.studentamount">
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group" ng-if="group.studentamount !== undefined">
                              <label class="control-label col-md-5">
                                Students name
                              </label>
                              <div class="col-md-7">
                                <div class="row" ng-repeat="i in range(group.studentamount) track by $index">
                                  <div class="col-md-1">
                                    <label class="control-label">{{$index+1}}.</label>
                                  </div>
                                  <div class="col-md-8">
                                    <input type="text" class="form-control col-md-6" ng-model="group.students[$index]" placeholder="student's name">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <br>
                      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#class{{$index}}newGroup">New group</button>
                      <div id="class{{$index}}newGroup" class="panel-collapse collapse">
                        <div class="form-horizontal markerArea" role="form">
                          <div class="form-group">
                            <label class="control-label col-md-5">
                              Group's name
                            </label>
                            <div class="col-md-7">
                              <input type="text" class="form-control" ng-model="class.newGroup.name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-5">
                              Amount of students
                            </label>
                            <div class="col-md-7">
                              <select class="form-control" ng-model="class.newGroup.studentamount">
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group" ng-if="class.newGroup.studentamount !== undefined">
                            <label class="control-label col-md-5">
                              Students name
                            </label>
                            <div class="col-md-7">
                              <div class="row" ng-repeat="i in range(class.newGroup.studentamount) track by $index">
                                <div class="col-md-1">
                                  <label class="control-label">{{$index+1}}.</label>
                                </div>
                                <div class="col-md-8">
                                  <input type="text" class="form-control col-md-6" ng-model="class.newGroup.students[$index]" placeholder="student's name">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <button class="btn btn-default pull-right" ng-click="addGroup(class)"><span class="glyphicon glyphicon-plus"></span>  Add</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- add a new class -->
        <div class="col-md-12">
          <div class="caption"><p>Add a new class</p></div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#addClass"><span class="glyphicon glyphicon-plus"></span>  Add</button>
          <div class="modal fade" role="dialog" id="addClass">
            <div class="modal-dialog markerArea">
              <div class="modal-header">
                <h4 class="modal-title">Class {{newClass.number}}</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <label class="control-label col-md-2">
                    Number
                  </label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="newClass.number">
                  </div>
                </div>
                <br>     
                <div class="row">
                  <label class="control-label col-md-2">
                    Groups
                  </label>
                  <div class="col-md-10 panel-group">
                    <div class="panel panel-default" ng-repeat="group in newClass.groups track by $index">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-target="#newClass{{$parent.$index}}group{{$index}}"> {{group.name}}</a>
                          <button type="button" class="deleteGroupBtn btn btn-default btn-xs pull-right" ng-click="deleteItem(group,newClass.groups)"><span class="glyphicon glyphicon-trash"></span></button>
                        </h4>
                      </div>
                      <div id="newClass{{$parent.$index}}group{{$index}}" class="panel-collapse collapse">
                        <form class="form-horizontal markerArea" role="form" name="form">
                          <div class="form-group">
                            <label class="control-label col-md-5">
                              Group name
                            </label>
                            <div class="col-md-7">
                              <input type="text" class="form-control" placeholder="group name" ng-model="group.name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-5">
                              Amount of students
                            </label>
                            <div class="col-md-7">
                              <select class="form-control" ng-model="group.studentamount">
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group" ng-if="group.studentamount !== undefined">
                            <label class="control-label col-md-5">
                              Students
                            </label>
                            <div class="col-md-7">
                              <div class="row" ng-repeat="i in range(group.studentamount) track by $index">
                                <div class="col-md-1">
                                  <label class="control-label">{{$index+1}}.</label>
                                </div>
                                <div class="col-md-8">
                                  <input type="text" class="form-control col-md-6" ng-model="group.students[$index]" placeholder="student's name">
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#newClass{{$index}}newGroup">New group</button>
                    <div id="newClass{{$index}}newGroup" class="panel-collapse collapse">
                      <div class="form-horizontal markerArea" role="form">
                        <div class="form-group">
                          <label class="control-label col-md-5">
                            Group name
                          </label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" placeholder="group name" ng-model="newClass.newGroup.name">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5">
                            Amount of students
                          </label>
                          <div class="col-md-7">
                            <select class="form-control" ng-model="newClass.newGroup.studentamount">
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group" ng-if="newClass.newGroup.studentamount !== undefined">
                          <label class="control-label col-md-5">
                            Students
                          </label>
                          <div class="col-md-7">
                            <div class="row" ng-repeat="i in range(newClass.newGroup.studentamount) track by $index">
                              <div class="col-md-1">
                                <label class="control-label">{{$index+1}}.</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control col-md-6" ng-model="newClass.newGroup.students[$index]" placeholder="student's name">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <button class="btn btn-default pull-right" ng-click="addGroup(newClass)"><span class="glyphicon glyphicon-plus"></span>  Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addClass(newClass)"><span class="glyphicon glyphicon-floppy-disk"></span>  Save</button>
              </div>
            </div>
          </div>
        </div>
        <div id="submit">
          <a class="btn btn-primary pull-right stepBtn" ng-click="submit()"><span class="glyphicon glyphicon-floppy-disk"></span>  Save</a>
        </div>
      </div>
    </div>
  </div>
</div>