<div class="row container" ng-controller="MapSetCtrl">
	<div class="col-md-offset-2 col-md-10">
		<h1>Create a Decision-making Application</h1>
		<!-- set the corrdination of the map -->
		<div class="row item">
			<form class="form-horizontal" role="form" name="form">
				<div class="col-md-4">
					<h4>Set the coordination</h4>				
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-md-3 control-label">Longtitude</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="longtitude">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Laititude</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="laititude">
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- set markers of the map -->
		<div class="row item">
			<div class="col-md-4">
				<h4>Markers</h4>
			</div>
			<div class="col-md-8">
				<div class="panel-group" id="showMarkers">
					<div class="panel panel-default" ng-repeat="marker in markers">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#marker-{{$index}}">Marker {{$index+1}}</a>
								<button type="button" class="deleteMarkerBtn btn btn-default btn-xs pull-right" ng-click="deleteItem($event,marker,markers)"><span class="glyphicon glyphicon-trash"></span></button>
							</h4>
						</div>
						<div id="marker-{{$index}}" class="panel-collapse collapse">
							<form class="form-horizontal markerArea" role="form" name="form">
								<div class="form-group">
									<label class="control-label col-md-3">
										Name
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" ng-model="marker.name">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">
										Longtitude
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="marker.longtitude">
									</div>
								</div>					
								<div class="form-group">
									<label class="control-label col-md-3">
										Laititude
									</label>
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="ex: 12.3456" ng-model="marker.laititude">
									</div>
								</div>	
								<div class="form-group">
									<label class="control-label col-md-3">
										Add picture (optional)
									</label>
									<div class="col-md-6">
										<input type="file" class="form-control" accept="image/*" onchange="angular.element(this).scope().handleFiles(this)">
									</div>
								</div>					
								<div class="form-group">
									<label class="control-label col-md-3">
										Data
									</label>
									<div class="col-md-9">
										<textarea class="form-control" ng-model="marker.data" rows="4"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> 
				<button class="btn btn-info" id="addMarkerBtn" ng-click="addItem(markers)"><span class="glyphicon glyphicon-plus"></span>  Add marker</button>
			</div>
		</div>

		<!-- set the steps -->
		<div class="row item">
			<div class="col-md-4">
				<h4>Clarify steps of the task</h4>
			</div>
			<div class="col-md-8">
				<div class="panel-group" id="showSteps">
					<div class="panel panel-default" ng-repeat="step in steps">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#step-{{$index}}">Étape {{$index+1}}</a>
								<button type="button" class="deleteStepBtn btn btn-default btn-xs pull-right" ng-click="deleteItem($event,step,steps)"><span class="glyphicon glyphicon-trash"></span></button>
							</h4>
						</div>
						<div id="step-{{$index}}" class="panel-collapse collapse">
							<form class="form-horizontal markerArea" role="form" name="form">
								<div class="form-group">
									<label class="control-label col-md-3">
										Summary
									</label>
									<div class="col-md-9">
										<input type="text" class="form-control" placeholder="Short title of the step" ng-model="step.summary">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">
										Description
									</label>
									<div class="col-md-9">
										<textarea class="form-control" ng-model="step.content" placeholder="Detailed description in the pop-up dialog" rows="4"></textarea>
									</div>
								</div>	
								<div class="form-group">
									<label class="control-label col-md-3">
										Timer
									</label>
									<div class="col-md-9 btn-group">
										<div class="radio col-md-12">
											<label><input type="radio" name="timer" value="false" ng-model="step.timer">No</label>
										</div>
										<div class="radio col-md-2">
											<label><input type="radio" name="timer" value="true" ng-model="step.timer">Yes</label>
										</div>
										<div ng-if="step.timer=='true'">
											<div class="timer col-md-3">
												<input type="text" class="form-control" placeholder="00:00" ng-model="step.timerval">
											</div>
											<div class="checkbox col-md-4">
											    <label>
											      <input type="checkbox" ng-model="step.timerBadge"> Timber badge
											    </label>
											</div>
										</div>
									</div>
								</div>			
							</form>
						</div>
					</div>
				</div> 

				<button class="btn btn-info" id="addStepBtn" ng-click="addItem(steps)"><span class="glyphicon glyphicon-plus"></span>  Add Step</button>

			</div>
		</div>
		<!-- set the groups -->
		<div class="row item">
			<div class="col-md-4">
				<h4>Set groups of students</h4>
			</div>
			<div class="col-md-8">
				<div class="panel-group" id="showGroups">
					<div class="panel panel-default" ng-repeat="group in groups track by $index">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#group-{{$index}}">Group {{$index+1}}</a>
								<button type="button" class="deleteGroupBtn btn btn-default btn-xs pull-right" ng-click="deleteItem($event,group,groups)"><span class="glyphicon glyphicon-trash"></span></button>
							</h4>
						</div>
						<div id="group-{{$index}}" class="panel-collapse collapse">
							<form class="form-horizontal markerArea" role="form" name="form">
								<div class="form-group">
									<label class="control-label col-md-4">
										Name
									</label>
									<div class="col-md-7">
										<input type="text" class="form-control" ng-model="group.name">
									</div>
								</div>			
								<div class="form-group">
									<label class="control-label col-md-4">
										Amount of students
									</label>
									<div class="col-md-7">
										<select class="form-control" ng-model="group.student">
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> 

				<button class="btn btn-info" id="addGroupBtn" ng-click="addItem(groups)"><span class="glyphicon glyphicon-plus"></span>  Add Group</button>

			</div>
		</div>
		<!-- choose the evaluation style -->
		<div class="row item" id="additional">
			<div class="col-md-4">
				<h4>Additional functionalities</h4>
			</div>
			<div class="col-md-8">
				<form class="form-horizontal markerArea" role="form" name="form">
					<div class="row form-group">
						<div class="col-md-3">
							<label class="control-label">Evaluation style</h5>
						</div>
						<div class="btn-group col-md-9">
							<div class="radio col-md-9">
								<label><input type="radio" name="evaluation" value="star" ng-model="add.eval">Star evaluation</label>
							</div>
							<div class="radio col-md-9">
								<label><input type="radio" name="evaluation" value="heart" ng-model="add.eval">Red heart evaluation</label>
							</div>
						</div>
					</div>
					<div class="row form-group noteBadge">
						<div class="checkbox col-md-3">
						    <label>
						     	<input type="checkbox" ng-model="add.noteBadge">
						     	Add note badge
						    </label>
						</div>
						<div class="col-md-8 btn-group">
							<div ng-if="add.noteBadge==true">
								<label class="control-label">(Number of notes to get badge)</label>
								<div class="col-md-3 notenum">
									<input type="text" class="form-control" placeholder="0" ng-model="add.noteNum">
								</div>
							</div>
						</div>
					</div>
					<div class="row form-group commonSpace">
						<div class="checkbox col-md-4">
						    <label>
						     	<input type="checkbox" ng-model="add.commonspace">
						     	Add common space
						    </label>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- submit changes -->
		<div id="submit" class="item">
			<a class="btn btn-default pull-right stepBtn" ng-click="setMap()">Submit</a>
			<a class="btn btn-default pull-right stepBtn" href="http://localhost:8000/#/index" target="_blank" ng-click="setMap()">Preview</a>
		</div>

	</div>
</div>
