<div class="container" ng-controller="CtrlStep3">
	<div class="col-md-12">
		<h3>Step3/4: add indicators to the activity</h3>
		<button class="btn btn-default" data-toggle="collapse" data-target="#instruction">? Instruction</button>
		<div id="instruction" class="panel-collapse collapse">
			<p>Instruction: in this step, you can add indicators to the application. The indicators would be provided for students and teachers.</p>
			<ul>
				<li>Indicators for students: you can choose the indicators to help students' regulate their action and raise their awareness of the on-going activity. For example, in the restricted sequence, you can add the progress bar to help students better be aware of the progress. You can also add gamification elements to motivate students and gain entertainment to the activity. For example, a timer badge to encourage students to finish tasks within the limited time; or a "comment badge" to encourage students to submit more comments.</li>
				<li>Indicators for teachers: in the activity, you will have a page to monitor your students behaviors. You can choose which indicators you want to monitor students behaviors. For example, to see the number of checking locations of each students, and the comments their add.</li>
			</ul>
		</div>
		<!-- set the corrdination of the map -->
		<div class="jumbotron" id="items">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div class="row item">
						<div class="col-md-4">
							<h4>Indicators for students:</h4>
						</div>
						<div class="col-md-8">
							<form class="form-horizontal" role="form">
								<div class="form-group checkbox" ng-if="probar == 'individual'">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="mapstep3.indiStu.indiviPro">Add individual evaluating progress</h5>
									</div>
								</div>
								<div class="form-group checkbox" ng-if="probar == 'group'">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="mapstep3.indiStu.groupPro">Add group evaluating progress</h5>
									</div>
								</div>
								<div class="form-group checkbox marginBottom">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="commentbadge">Add individual "comment badge"</h5>
									</div>
									<div ng-show="commentbadge">
										<div class="col-md-offset-1 col-md-5">
											<label>Student can earn a "comment badge" by submitting more than</label>
										</div>
										<div class="col-md-2">
											<input type="number" step="any" class="form-control" ng-model="mapstep3.indiStu.badge.comment">
										</div>
										<div class="col-md-2">
											<label class="label-control">comment</label>
										</div>
									</div>
								</div>
								<div class="form-group checkbox">
									<div class="col-md-4">
										<h5><input type="checkbox" ng-model="mapstep3.indiStu.badge.timer">Add group "timer badge"</h5>
									</div>
									<div class="col-md-8" ng-show="mapstep3.indiStu.badge.timer==true">
										<div ng-repeat ="i in mapstep3.step track by $index">
											<div class="form-group" ng-show="i">
												<div class="checkboxMargin">
													<div class="col-md-3">
														<h5 class="label-control"><input type="checkbox" ng-model="mapstep3.indiStu.timers[$index]">Step{{$index}}</h5>
													</div>
													<div ng-show="mapstep3.indiStu.timers[$index]">
														<div class="col-md-3">
															<input type="text" placeholder="00:00" class="form-control" ng-model="mapstep3.indiStu.timerValue[$index]">
														</div>
														<div class="col-md-2">
															<h5>mins</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row item">
						<div class="col-md-4">
							<h4>Indicators for teachers:</h4>
						</div>
						<div class="col-md-8">
							<form class="form-horizontal" role="form">
								<div class="form-group checkbox marginBottom">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="mapstep3.indiTea.browsed">Add number of the browsed alternatives of each student</h5>
									</div>
								</div>
								<div class="form-group checkbox">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="mapstep3.indiTea.progre">Add evaluating progress</h5>
									</div>
								</div>
								<div class="form-group checkbox">
									<div class="col-md-12">
										<h5><input type="checkbox" ng-model="mapstep3.indiTea.comment">Add groups' comments</h5>
									</div>
								</div>
							</form>
						</div>
							
					</div>
				<a class="btn btn-primary" class="formerStepBtn" ng-click="changeStep()" ui-sref="step2"> <span class="glyphicon glyphicon-chevron-left"></span> Back</a>
				<a class="btn btn-primary pull-right" class="nextStepBtn" ng-click="changeStep()" ui-sref="step4">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
